{% extends "main.html" %}

{% block title %}Users{% endblock %}

{% block content %}
<div id="content-main">

    <div class="module">
    	<h2>Troubleshooting</h2>
    		<p><a href="{% url ac_no_default_list %}">View users with no default project</a></p>
    		<p><a href="{% url ac_no_account_list %}">Find users who are in projects that they don't have an account for</a></p>
    		<p><a href="{% url ac_wrong_default_list %}">Find users whos default project is a project they are not in</a></p>
    		<p><a href="{% url ac_empty_projects_list %}">List projects with no users</a></p>
    		<p><a href="{% url ac_unknown_usage %}">List unassigned usage</a></p>
    		<p><a href="{% url ac_locked_users_list %}">View all locked users</a></p>
    		<p><a href="{% url ac_project_last_usage_list %}">List active projects by last cpu job date</a></p>
    		<p><a href="{% url ac_struggling_users_list %}">List new users that haven't had any usage yet.</a></p>
    		<p><a href="{% url ac_log_list %}">View logs</a></p>
    	
	</div>
</div>
{% endblock %}
 
