{% extends "main.html" %}

{% block title %}Pending Account Requests{% endblock %}

{% block content_title %}{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; Pending Account Requests
{% endblock %}  

{% block content %}
<div id="content-main">


	{% if request_list %}
	<div class="module">
   	<h2>Requests not yet approved by leader</h2>
   	
   	<table cellspacing="0">
		<thead>
		<tr>
			<th>Name</th>
			<th>Project</th>
			<th>Leader</th>
			<th>Date requested</th>
		</tr>
		</thead>   	
   	<tbody>
   	{% for request in request_list %}
	   	<tr class="{% cycle row1,row2 %}">
	   		<td><a href="{{ request.person.get_absolute_url }}">{{ request.person.get_full_name }}</a></td>
	   		<td><a href="{{ request.project.get_absolute_url }}">{{ request.project }}</a></td>
	   		<td><a href="{{ request.project.leader.get_absolute_url }}">{{ request.project.leader }}</a></td>
	   		<td>{{ request.date|date }}</td>
	   	</tr>
	   {% endfor %}
   	</tbody>  	
		</table>
	</div>
	{% else %}
	<p>There are currently no pending account requests</p>
	{% endif %}
</div>
{% endblock %}