{% extends "forms.html" %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">Home</a> &rsaquo; Password reset</div>{% endblock %}

{% block title %}Password reset{% endblock %}

{% block content %}

<h1>Password reset</h1>

<p>You can reset the password of anyone who is a member of your project(s)</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">Project member:</label> {{ form.email }} <input type="submit" value="Send password reset instructions" /></p>
</form>

{% endblock %}
