{% extends "main.html" %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href='{% url "kg_profile" %}'>Profile</a>&nbsp;›
    {% block profile_title %}My Profile{% endblock %}
</div>
{% endblock %}


{% block title %}Password reset complete{% endblock %}


{% block content %}
<div id="content-main">
    <h1>Password reset complete</h1>

    <p>Your password has been set.  You may go ahead and log in now.</p>

    <p><a href="{{ login_url }}?next={% url 'kg_profile' %}">Log in</a></p>
</div>
{% endblock %}
