{% extends "forms.html" %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_person_list' %}">People</a>&nbsp;›
    <a href="{% url 'kg_person_detail' person.username %}">{{ person }}</a>&nbsp;›
    Password reset
</div>
{% endblock %}


{% block title %}Password reset{% endblock %}


{% block content %}
{% if error %}
    <h1>Cannot reset password</h1>
    <p>{{ error }}</p>
{% else %}
    <h1>Password reset</h1>
    <p>You can request reseting the password of {{ person }}. This will send the
    person an email with instructions allowing them to change their password.</p>

    <form action="" method="post">{% csrf_token %}
    <p><input type="submit" value="Send password reset instructions" /></p>
    </form>
{% endif %}

{% endblock %}
