[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bcrypt = "*"
cssmin = "*"
python-alogger = "*"
django-xmlrpc = "*"
django-simple-captcha = "*"
django-ajax-selects = "*"
django-jsonfield = "*"
django-model-utils = "*"
pyasn1 = "*"
ldap3 = "*"
python-tldap = "*"
django-pipeline = "*"
django-tables2 = "*"
django-filter = "*"
django-environ = "*"
six = "*"
slimit = "*"
whitenoise = "*"
billiard = "*"
celery = "*"
kombu = "*"
vine = "*"
redis = "*"
matplotlib = "*"
django-extensions = "*"
mock = "*"
flake8 = "*"
isort = "==4.3.10"
Django = "*"
django_celery_results = "*"
factory_boy = "*"
pytest-django = "*"
pytest-cov = "*"
wheel = "*"
twine = "*"
bumpversion = "*"
Sphinx = "*"

[packages]
bcrypt = "*"
cssmin = "*"
python-alogger = "*"
django-xmlrpc = "*"
django-simple-captcha = "*"
django-ajax-selects = "*"
django-jsonfield = "*"
django-model-utils = "*"
pyasn1 = "*"
ldap3 = "*"
python-tldap = "*"
django-pipeline = "*"
django-tables2 = "*"
django-filter = "*"
django-environ = "*"
six = "*"
slimit = "*"
whitenoise = "*"
billiard = "*"
celery = "*"
kombu = "*"
vine = "*"
redis = "*"
Django = "~=1.11.0"
django_celery_results = "*"
matplotlib = "*"
cracklib = "*"
gunicorn = "*"
mysqlclient = "*"
sentry-sdk = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
