[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
mock = "*"
flake8 = "*"
isort = "*"
factory_boy = "*"
pytest-django = "*"
pytest-cov = "*"
wheel = "*"
twine = "*"
bumpversion = "*"
Sphinx = "*"

[packages]
bcrypt = "*"
cssmin = "*"
python-alogger = "*"
django-xmlrpc = "*"
django-simple-captcha = "*"
django-ajax-selects = "*"
django-jsonfield = "*"
django-model-utils = "*"
ldap3 = "*"
python-tldap = "*"
django-pipeline = "*"
django-tables2 = "*"
django-filter = "*"
django-environ = "*"
six = "*"
slimit = "*"
whitenoise = "*"
Django = "~=3.0.9"
cracklib = "*"
gunicorn = "*"
mysqlclient = "*"
sentry-sdk = "*"
psycopg2-binary = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
