bcrypt==3.1.3
cssmin==0.2.0
# Don't include Django, so tests can test different versions
# Django==1.8.16
python-alogger==2.2.9
django-xmlrpc==0.1.7
django-simple-captcha==0.5.5
django-ajax-selects==1.5.2
django-jsonfield==1.0.1
django-model-utils==3.0
ldap3==2.2.3
python-tldap==0.4.1
django-pipeline==1.6.12
django-tables2==1.6.0
django-filter==1.0.2
django-environ==0.4.3
six==1.10.0
slimit==0.8.1
setuptools_scm==1.15.5
