<!DOCTYPE html>
<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE|default:"en-us" }}"{% endif %} {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}&nbsp;|&nbsp;{% block site_name_title %}{% endblock %}</title>
{% load karaage_tags %}
{% load pipeline %}
{% load firstof from future %}
{% stylesheet 'karaage' %}
{% javascript 'karaage' %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% block usertools %}
        <div id="user-tools">
            {% trans 'Welcome,' %}
            {% if user.is_active %}
            <strong>{% firstof user.get_short_name user.username %}</strong>.
            {% else %}
            <strong>{% trans 'Guest' %}</strong>
            {% endif %}
            {% block userlinks %}
                {% if user.is_active %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                {% endif %}
                <a href="{% url 'kg_profile_password' %}">{% trans 'Change password' %}</a> /
                <a href="{% url 'kg_profile_logout' %}">{% trans 'Log out' %}</a>
                {% elif SHIB_SUPPORTED %}
                <a href="{% url 'kg_profile_login_saml' %}">{% trans 'Log in' %}</a>
                {% else %}
                <a href="{% url 'kg_profile_login' %}{% url_with_param next=request.path %}">{% trans 'Log in' %}</a>
                {% endif %}
            {% endblock %}
        </div>
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url "index" %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer">Karaage {{ kgversion }}</div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
