{% extends "base_site.html" %}
{% load url from future %}

{% block content %}

{% if samlform.errors %}
{{ samlform.non_field_errors }}
{% endif %}

<div id="saml_login_fields">	
  <form method="post" action="{% url "kg_saml_login" %}">{% csrf_token %}
    <table>
      <tr><td><label for="id_institute">Institute:</label></td><td>{{ samlform.institute }}</td></tr>
    </table>
    
    <input type="submit" value="SAML login" />
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
  </form>

</div>		





{% endblock %}
