{% extends "main.html" %}
{% load karaage_tags %}
{% load render_table from django_tables2 %}


{% block title %}Institute{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href='{% url 'kg_institute_list' %}'>Institutes</a>&nbsp;›
    {{ institute }}
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>Institute Details</h2>
        <h3>{{ institute }}</h3>
        <div class="table-container">
            <table class="keyvalue">
                <tr>
                    <th>Active:</th>
                    <td>
                        {% if not institute.is_active %}
                        <span class="no">Deleted</span>
                        {% else %}
                        <span class="yes">Yes</span>
                        {% endif %}
                    </td>
                </tr>
                <tr><th>Delegate(s):</th><td>{% for delegate in institute.delegates.all %}<a href="{{ delegate.get_absolute_url }}">{{ delegate }}</a>, {% endfor %}</td></tr>
                {% if is_admin %}
                <tr><th>Group:</th><td><a href="{{ institute.group.get_absolute_url }}">{{ institute.group }}</a></td></tr>
                {% endif %}
                {% if institute.saml_entityid %}
                <tr><th>SAML entityID:</th><td>{{ institute.saml_entityid }}</td></tr>
                {% endif %}
                <tr><th>Categories:</th><td>{% for iq in institute.institutequota_set.all %}<a href='{% url 'kg_machine_category_detail' iq.machine_category.pk %}'>{{ iq.machine_category }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
            </table>
        </div>

        {% is_for_each_app_include_empty "project_detail_tools.html" as is_empty %}
        {% if is_admin or not is_empty %}
        <div class="object-tools">
            <ul>
                {% if is_admin %}
                <li><a href="{% url 'kg_institute_edit' institute.pk %}" class="changelink">Edit</a></li>
                <li><a href="{% url 'kg_institute_logs' institute.pk %}">View logs</a></li>
                <li><a href="{% url 'kg_institute_verbose' institute.pk %}">Verbose</a></li>
                {% endif %}
                {% for_each_app_include "institute_detail_tools.html" %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="module">
        <h2>Caps and quotas</h2>
        {% if institute.institutequota_set.all %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Machine Category</th>
                        <th>Quota</th>
                        <th>Cap (mPoTS)</th>
                        {% if is_admin %}
                        <th></th><th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for iq in institute.institutequota_set.all %}
                    <tr>
                        <td><a href='{% url 'kg_machine_category_detail' iq.machine_category.pk %}'>{{ iq.machine_category }}</a></td>
                        <td>{{ iq.quota }}</td>
                        <td>{{ iq.get_cap }}</td>
                        {% if is_admin %}
                        <td><a class="changelink" href="{% url 'kg_institutequota_edit' iq.pk %}">edit</a></td>
                        <td><a class="deletelink" href="{% url 'kg_institutequota_delete' iq.pk %}">Remove</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if is_admin %}
        <div class="object-tools">
            <ul>
                <li><a class="addlink" href="{% url 'kg_institutequota_add' institute.pk %}">Add</a></li>
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="module">
        <h2>Projects</h2>
        {% render_table project_list %}
    </div>

    <div class="module">
    <h2>People</h2>
        {% render_table person_list %}
    </div>

    {% for_each_app_include "institute_detail_extra.html" %}

    {% if is_admin %}
    <div class="module">
        <h2>Comments</h2>
        {% comments institute %}
        {% if is_admin %}
        <div class="object-tools">
            <ul>
                <li><a href="{% url 'kg_institute_add_comment' institute.pk %}" class="addlink">Add comment</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}


{% block object-tools %}
{% endblock %}
