{% extends "forms.html" %}
{% load forms %}


{% block title %}Edit Institute Quota/Cap{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_institute_list' %}">Institutes</a>&nbsp;›
    <a href="{% url 'kg_institute_detail' institute.pk %}">{{ institute }}</a>&nbsp;›
    {% if object %}
        Edit Institute Quota/Cap
    {% else %}
        Create Institute Quota/Cap
    {% endif %}
</div>
{% endblock %}


{% block content %}
<form method="post" action=".">{% csrf_token %}
    <fieldset class="aligned ()">
        {% form_as_div form %}
    </fieldset>
    <div class="submit-row">
        <input type="submit" value="Save" class="default" />
    </div>
</form>
{% endblock %}
