{% extends "forms.html" %}
{% load forms %}


{% block title %}Delete Institute Quota/Cap{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_institute_list' %}">Institutes</a>&nbsp;›
    <a href="{% url 'kg_institute_detail' institute_chunk.institute.pk %}">{{ institute_chunk.institute }}</a>&nbsp;›
    Delete Institute Quota/Cap
</div>
{% endblock %}


{% block content %}
<div class="module">
    <h2>Institute Caps/quota</h2>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Machine Category</th>
                <th>Quota</th>
                <th>Cap (mPoTS)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ institute_chunk.machine_category }}</td>
                <td>{{ institute_chunk.quota }}</td>
                <td>{{ institute_chunk.get_cap }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<form method="post" action=".">{% csrf_token %}
    <div class="submit-row">
        <input type="submit" value="Delete" class="default" />
    </div>
</form>
{% endblock %}
