<li><a class="{% active request "emails/" %}" href="{% url "kg_emails_index" %}">Send Email</a></li>
<li><a class="{% active request "institutes/" %}" href="{% url "kg_institute_list" %}">Institutes</a></li>
<li><a class="{% active request "machines/" %}" href="{% url "kg_machine_category_list" %}">Machines</a></li>
<li><a class="{% active request "persons/" %}" href="{% url "kg_person_list" %}?active=yes">People</a></li>
<li><a class="{% active request "groups/" %}" href="{% url "kg_group_list" %}">Groups</a></li>
<li><a class="{% active request "projects/" %}" href="{% url "kg_project_list" %}?status=1">Projects</a></li>
