{% extends "main.html" %}

{% block title %}Servers{% endblock %}

{% block content_title %}{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="../../../">Servers</a>
 &rsaquo; <a href="../../">{{ server }}</a>
 &rsaquo; {{ job }}
{% endblock %}   
 
{% block content %}
{% load filters %}

<div id="content-main">
	<div class="module">
   	<h2>Servers</h2>
   	<h3>{{ job }}</h3>
   	<table>
   		{% if user.is_authenticated %}
   		<tr><td>Name:</td><td>{{ job.name }}</td></tr>
   		<tr><td>Owner:</td><td><a href="{% url pbs_user_detail job.username %}">{{ job.owner }}</a></td></tr>
   		{% endif %}
   		<tr><td>State:</td><td>{{ job.state }}</td></tr>
   		<tr><td>CPU's requested:</td><td>{{ job.count }}</td></tr>
   		<tr><td>CPU's used:</td><td>{{ job.cpus_used }}</td></tr>
   		<tr><td>CPU Time:</td><td>{{ job.cputime }}</td></tr>
   		<tr><td>Queue:</td><td><a href="{% url pbs_queue_detail job.server.name,job.queue %}">{{ job.queue }}</a></td></tr>
   		<tr><td>Start time:</td><td>{{ job.start }}</td></tr>
   		<tr><td>Remaining:</td><td>{{ job.remaining|timeformat }}</td></tr>
   		<tr><td>Est. walltime:</td><td>{{ job.est_walltime }}</td></tr>
   		<tr><td>Act. walltime:</td><td>{{ job.act_walltime }}</td></tr>
   		<tr><td>Mem used:</td><td>{{ job.mem_used }}</td></tr>
   		<tr><td>Vmem used :</td><td>{{ job.vmem_used }}</td></tr>
   		{% if user.is_authenticated %}
   		<tr><td>Output path:</td><td>{{ job.output_path }}</td></tr>
   		<tr><td>Error path:</td><td>{{ job.error_path }}</td></tr>
   		{% endif %}
			<tr><td>Nodes:</td><td>{% for n in job.node_list %}{{ n }} , {% endfor %}</td></tr>
		</table>

	</div>

</div>
{% endblock %}