{% extends "forms.html" %}

{% block title %}Users{% endblock %}



{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› <a href="../">Users</a>
 › {% if user_account %}Edit{% else %}Create{% endif %} User
</div>{% endblock %}   

{% block content %}
<form method="post" action=".">{% csrf_token %}
{% load forms %}
{% if username_error %}
<ul class="errorlist">
<li>Username already in use.</li>
</ul>
{% endif %}
<fieldset class="module aligned ()">
<h2>User Account details</h2>
{{ form.non_field_errors }}
{% formfield form.username %}
{% formfield form.machine_category %}
{% formfield form.default_project %}
</fieldset>

<div class="submit-row">
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}