{% extends "main.html" %}

{% block title %}Machines{% endblock %}

{% block content_title %}&nbsp;{% endblock %}
{% block breadcrumbs %}{{ block.super }} &rsaquo; Machines{% endblock %}

{% block content %}
<div id="content-main">
  <ul class="object-tools">
{% if perms.machines.add_machinecategory %}
  <li><a href="{% url kg_machinecategory_add %}" class="addlink">Add machine category</a></li>  
{% endif %}
  {% if perms.machines.add_machine %}
  <li><a href="add/" class="addlink">Add machine</a></li>
  {% endif %}
  </ul>
  <div class="module">
    <h2>Machines</h2>
    <ul>
      {% for c in category_list %}
      <li><h3>{{ c.name }}</h3>
      - {% if perms.machines.change_machinecategory %} 
        <a href="{% url kg_machinecategory_edit c.id %}" class="changelink">Edit category</a> | 
        {% endif %}
        <a href="{% url kg_mc_usage c.id %}">Usage</a>
      	
    	<ul>
    	  {% for m in c.machine_set.all %}
    	  <li><a href="{{ m.get_absolute_url }}">{{ m.name }}</a>&nbsp;
	    {% if m.end_date %}
	    <span class="red">*Decommissioned</span>
	    {% endif %}
    	  </li>
    	  {% endfor %}
    	</ul>
    	 
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
