{% extends "main.html" %}
{% load url from future %}


{% block title %}Machines{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    Machines</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>Machine Categories</h2>
        <ul>
            {% for c in category_list %}
            <li><a href="{% url 'kg_machine_category_detail' c.pk %}">{{ c }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}


{% block object-tools %}
{% if is_admin %}
<div class="module object-tools">
    <h2>Object links</h2>
    <ul>
        <li><a class="addlink" href="{% url 'kg_machine_category_add' %}">Add machine category</a></li>
        <li><a class="addlink" href="add/">Add machine</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}
