{% extends "main.html" %}


{% block title %}Machine Accounts{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_machine_list' %}">Machines</a>&nbsp;›
    <a href="{% url 'kg_machine_category_detail' machine_category.pk %}">{{ machine_category }}</a>&nbsp;›
    Accounts
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>Users Accounts</h2>
        <h4>Total user accounts: {{ accounts|length }}</h4>
        {% if accounts %}
        <table cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Person</th>
                    <th>Username</th>
                    <th>Default Project</th>
                    <th>Date Created</th>
                    <th>Date Deleted</th>
                </tr>
            </thead>
            <tbody>
                {% for ua in accounts %}
                <tr>
                    <td>{% yes_no_img ua.date_deleted "reversed" %}</td>
                    <td><a href="{{ ua.person.get_absolute_url }}">{{ ua.person }}</a></td>
                    <td>{{ ua.username }}</td>
                    <td>{% if ua.default_project %}<a href="{{ ua.default_project.get_absolute_url }}">{{ ua.default_project }}</a>{% else %}No project{% endif %}</td>
                    <td>{{ ua.date_created }}</td>
                    <td>{{ ua.date_deleted }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
