{% extends "main.html" %}
{% load url from future %}


{% block title %}Machine{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_machine_list' %}">Machines</a>&nbsp;›
    {{ machine_category }}
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>{{ machine_category.name }}</h2>
        <table>
            {% for m in machine_category.machine_set.all %}
            <tr>
                <td>
                    <a href="{{ m.get_absolute_url }}">{{ m.name }}</a> 
                </td>
                <td>
                    {% if m.end_date %}
                    <span>Decommissioned {{ m.end_date }}.</span>
                    {% else %}
                    <span>Active since {{m.start_date }}.</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% if karaage_site == 'admin' %}
    {% comments machine_category %}
    {% endif %}
</div>
{% endblock %}


{% block object-tools %}
{% if karaage_site == 'admin' and request.user.is_admin %}
<div class="module object-tools">
    <h2>Object links</h2>
    <ul>
        <li><a href="{% url 'kg_machine_category_logs' machine_category.pk %}">Logs</a></li>
        <li class="addlink"><a href="{% url 'kg_machine_category_add_comment' machine_category.pk %}">Add comment</a></li>
        <li><a href="{% url 'kg_mc_usage' machine_category.id %}">Usage</a></li>
        {% if perms.machines.change_machinecategory %}
        <li><a class="changelink" href="{% url 'kg_machine_category_edit' machine_category.id %}">Edit category</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}
