{% extends "forms.html" %}
{% load forms %}
{% load applications %}


{% block title %}Application Password{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_application_list' %}">Applications</a>&nbsp;›
    {{ application }}&nbsp;›
    Password
</div>
{% endblock %}


{% block content %}
<div class="module">
    <h2>4. Set password</h2>

    <form method="post" action=".">{% csrf_token %}
        {% if type == 'set' %}
        <p>Please enter your new password.</p>
        {% else %}
        <p>Please confirm your existing password so we can set your password on your new accounts.</p>
        {% endif %}

        {% form_as_div form %}

        {% application_actions %}
    </form>
</div>
{% endblock %}



