{% extends "forms.html" %}

{% block title %}Users{% endblock %}

{% block content_title %}{% if person %}Edit{% else %}Create{% endif %} User{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/accounts/admin/jsi18n/"></script> 
<script type="text/javascript" src="/django_media/js/core.js"></script>
<script type="text/javascript" src="/django_media/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/django_media/js/calendar.js"></script>
<script type="text/javascript" src="/django_media/js/admin/DateTimeShortcuts.js"></script> 
{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url kg_user_list %}">Users</a>
 &rsaquo; {% if person %}Edit{% else %}Create{% endif %} User
{% endblock %}   

{% block content %}
<form method="post" action=".">
<div>
{% load forms %}
{% if form.errors or form.non_field_errors %}
	<p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
<fieldset class="module aligned ()">
<h2>Personal Details</h2>
{% inlineformfield form.title form.first_name form.last_name %}
{% inlineformfield form.institute form.department %}
{% formfield form.position %}
{% formfield form.email %}
{% inlineformfield form.telephone form.mobile %}
{% inlineformfield form.fax form.website %}
{% formfield form.address %}
{% formfield form.country %}
{% formfield form.comment %}
{% formfield form.expires %}
{% if not person %}
{% formfield form.username %}
{% formfield form.password1 %}
{% formfield form.password2 %}
{% endif %}
</fieldset>
{{ form.non_field_errors }}
{% if not person %}
<fieldset class="module aligned ()">
<h2>User Account details</h2>
{% formfield form.needs_account %}
{% formfield form.project %}
{% formfield form.machine_category %}
</fieldset>
{% else %}
<input type="hidden" name="username" value="foobarfoobarfoobarfoobar88" />
<input type="hidden" name="password1" value="foobarfoobarfoobarfoobar88" />
<input type="hidden" name="password2" value="foobarfoobarfoobarfoobar88" />
{% endif %}

</div>
<div class="submit-row">
		
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}