{% extends "main.html" %}

{% block title %}Servers{% endblock %}

{% block content_title %}{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="../">Servers</a>
 &rsaquo; {{ server }}
{% endblock %}   
 
{% block content %}

<div id="content-main">
	<div class="module">
   	<h2>Servers</h2>
   	<h3>{{ node }}</h3>
   	<table>
   		<tr><td>Total jobs:</td><td>{{ server.total_jobs }}</td></tr>
   		<tr><td>resources_available.nodect:</td><td>{{ server.available_nodes }}</td></tr>
   		<tr><td>resources_assigned.ncpus:</td><td>{{ server.assigned_cpus }}</td></tr>
   		<tr><td>state_count::</td><td>{{ server.state_count }}</td></tr>
   		<tr><td>default_queue:</td><td>{{ server.default_queue }}</td></tr>
   		<tr><td>resources_assigned.nodect:</td><td>{{ server.assigned_nodes }}</td></tr>
   		<tr><td>pbs_version:</td><td>{{ server.pbs_version }}</td></tr>
		</table>

	</div>

</div>
{% endblock %}