{% extends "main.html" %}

{% block title %}Servers{% endblock %}

{% block content_title %}{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="../../">Servers</a>
 &rsaquo; <a href="../">{{ server }}</a>
 &rsaquo; Queues
{% endblock %}   
 
{% block content %}

<div id="content-main">
	
<div class="module">
<h2>{{ server }}</h2>
		<table cellspacing="0">
		<thead>
		<tr>
			<th>Name</th>
			<th>Total jobs</th>
			<th>Default walltime</th>
			<th>Max walltime</th>
		</tr>
		</thead>   	
   	<tbody>
   	{% for q in server.queue_list|dictsort:"name" %}
	   	<tr class="{% cycle row1,row2 %}">
	   		<td><a href="{% url pbs_queue_detail server.name,q.name %}">{{ q }}</a></td>
	   		<td>{{ q.total_jobs }}</td>
	   		<td>{{ q.default_walltime }}</td>
	   		<td>{{ q.max_walltime }}</td>
	   	</tr>
	   {% endfor %}
   	</tbody>  	
		</table>	

</div>
</div>
{% endblock %}