{% extends "main.html" %}

{% block title %}Servers{% endblock %}

{% block content_title %}{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="../../../">Servers</a>
 &rsaquo; <a href="../../">{{ server }}</a>
 &rsaquo; <a href="../">Queues</a>
 &rsaquo; {{ queue }}
{% endblock %}   
 
{% block content %}

<div id="content-main">
	<div class="module">
   	<h2>Servers</h2>
   	<h3>{{ queue }}</h3>
   	<table>
   		<tr><td>State count:</td><td>{{ queue.state_count }}</td></tr>
   		<tr><td>Total jobs:</td><td>{{ queue.total_jobs }}</td></tr>
   		<tr><td>Default walltime:</td><td>{{ queue.default_walltime }}</td></tr>
   		<tr><td>Max walltime:</td><td>{{ queue.max_walltime }}</td></tr>
   	
		</table>

	</div>

</div>
{% endblock %}