{% extends "main.html" %}

{% block title %}Servers{% endblock %}

{% block content_title %}{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="../">Servers</a>
 &rsaquo; {{ server }}
{% endblock %}   
 
{% block content %}

<div id="content-main">
	<div class="module">
   	<h2>Servers</h2>
   	<h3>{{ server }}</h3>
   	<table>
   	   <tr><td colspan="2"><a href="{% url pbs_node_list server.name %}">Nodes</a>   <a href="{% url pbs_queue_list server.name %}">Queues</a></td></tr>
   		<tr><td>Total jobs:</td><td>{{ server.total_jobs }}</td></tr>
   		<tr><td>State count::</td><td>{{ server.state_count }}</td></tr>
   		<tr><td>Default queue:</td><td>{{ server.default_queue }}</td></tr>
   		<tr><td>PBS version:</td><td>{{ server.pbs_version }}</td></tr>
   		<tr><td colspan="2">{{ c_used }} of {{ c_total }} processors in use ({{ c_percent|floatformat:"2" }}%)</td></tr>
		</table>

	</div>
	
{% regroup server.job_list|dictsortreversed:"state" by state as state_list %}

{% load pbs_tables %}
{% for state in state_list %}
<div class="module">
<h2>{{ state.grouper }}</h2>
	{% job_table state.list state.grouper %}

</div>
{% endfor %}
</div>
{% endblock %}