#!/bin/sh -e

. /usr/share/debconf/confmodule

if [ -n "$2" ] && dpkg --compare-versions "$2" lt 2.7.8-1
then
    db_input high karaage/run_migrations || true
    db_go

    db_get karaage/run_migrations
    if [ "$RET" = "false" ]; then
        db_input high karaage/no_migrations || true
        db_go
    fi
else
    db_fset karaage/run_migrations seen "true"
    db_set karaage/run_migrations "false"
fi
