#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=karaage

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

.PHONY: override_dh_auto_build
override_dh_auto_build:
	PYTHONPATH=. sphinx-build -b html -d docs/admin/.build/.doctrees -N docs/admin docs/admin/.build/admin
	PYTHONPATH=. sphinx-build -b man -d docs/admin/.build/.doctrees -N docs/admin docs/admin/.build/man
	PYTHONPATH=. sphinx-build -b html -d docs/user/.build/.doctrees -N docs/user docs/user/.build/user
	PYTHONPATH=. sphinx-build -b html -d docs/programmer/.build/.doctrees -N docs/programmer docs/programmer/.build/programmer
	dh_auto_build

.PHONY: override_dh_clean
override_dh_clean:
	dh_clean
	rm -rf tmp

.PHONY: override_dh_auto_test
override_dh_auto_test:
	./run_tests.sh
