#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python2,sphinxdoc

.PHONY: override_dh_python2
override_dh_python2:
	dh_python2 -p karaage3 karaage

.PHONY: override_dh_auto_build
override_dh_auto_build:
	PYTHONPATH=. sphinx-build -b html -d docs/admin/.build/.doctrees -N docs/admin docs/admin/.build/admin
	dh_auto_build
