#!/usr/bin/make -f
# -*- makefile -*-

PREFIX2 = debian/python-karaage
PREFIX3 = debian/python3-karaage
PREFIXC = debian/karaage3-common
PREFIXA = debian/karaage3-wsgi

export PYBUILD_NAME=karaage

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

.PHONY: override_dh_auto_build
override_dh_auto_build:
	PYTHONPATH=. sphinx-build -b html -d docs/admin/.build/.doctrees -N docs/admin docs/admin/.build/admin
	PYTHONPATH=. sphinx-build -b man -d docs/admin/.build/.doctrees -N docs/admin docs/admin/.build/man
	PYTHONPATH=. sphinx-build -b html -d docs/user/.build/.doctrees -N docs/user docs/user/.build/user
	PYTHONPATH=. sphinx-build -b html -d docs/programmer/.build/.doctrees -N docs/programmer docs/programmer/.build/programmer
	dh_auto_build

.PHONY: override_dh_clean
override_dh_clean:
	dh_clean
	rm -rf tmp
	rm -rf docs/admin/.build docs/admin/_build
	rm -rf docs/user/.build docs/user/_build
	rm -rf docs/programmer/.build docs/programmer/_build

.PHONY: override_dh_auto_test
override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	./run_tests.sh
endif

.PHONY: override_dh_install
override_dh_install:
	dh_install
	
	mkdir -p $(PREFIXC)/etc/karaage3
	set -e; for f in settings.py karaage.wsgi; do \
		mv $(PREFIX2)/etc/karaage3/$$f $(PREFIXC)/etc/karaage3; \
		rm $(PREFIX3)/etc/karaage3/$$f; \
	done
	
	mkdir -p $(PREFIXA)/etc/apache2/conf-available
	mv $(PREFIX2)/etc/apache2/conf-available/karaage3-wsgi.conf $(PREFIXA)/etc/apache2/conf-available/;
	rm $(PREFIX3)/etc/apache2/conf-available/karaage3-wsgi.conf;
	
	mkdir -p $(PREFIX2)/usr/share/python-karaage/bin
	mkdir -p $(PREFIX3)/usr/share/python3-karaage/bin
	mkdir -p $(PREFIXC)/usr/bin
	set -e; for f in kg-manage kg-daily-cleanup; do \
		mv $(PREFIX2)/usr/bin/$$f $(PREFIX2)/usr/share/python-karaage/bin; \
		mv $(PREFIX3)/usr/bin/$$f $(PREFIX3)/usr/share/python3-karaage/bin; \
		chmod +x $(PREFIX2)/usr/share/python-karaage/bin/$$f; \
		chmod +x $(PREFIX3)/usr/share/python3-karaage/bin/$$f; \
		cp debian/bin/$$f $(PREFIXC)/usr/bin; \
	done
	
	rm $(PREFIX2)/usr/bin/kg_set_secret_key
	mv $(PREFIX3)/usr/bin/kg_set_secret_key $(PREFIXC)/usr/bin

override_dh_python3:
	dh_python3
	find debian/python3-karaage/usr/lib/python3/dist-packages/ -type f -not -name '*.py' | \
	(while read file; do \
		relname=$${file##debian/python3-karaage/usr/lib/python3/dist-packages/}; \
		reldirname=$$(dirname $$relname); \
		mkdir -p debian/karaage3-common/usr/share/karaage3-common/$$reldirname; \
		mv $$file debian/karaage3-common/usr/share/karaage3-common/$$reldirname/; \
		ln -sf /usr/share/karaage3-common/$$relname $$file; \
		if test -e debian/python-karaage/usr/share/pyshared/$$relname; then \
		    rm debian/python-karaage/usr/share/pyshared/$$relname; \
		    ln -sf /usr/share/karaage3-common/$$relname debian/python-karaage/usr/share/pyshared/$$relname; \
		else \
		    rm debian/python-karaage/usr/lib/python2.7/dist-packages/$$relname; \
		    ln -sf /usr/share/karaage3-common/$$relname debian/python-karaage/usr/lib/python2.7/dist-packages/$$relname; \
		fi \
	done)
