{% extends "forms.html" %}
{% load forms %}


{% block title %}Add Comment{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    {% for title, link in breadcrumbs %}
    <a href='{{ link }}'>{{ title }}</a>&nbsp;›
    {% endfor %}
    Add Comment
</div>
{% endblock %}


{% block content %}
<form method="post" action=".">{% csrf_token %}
    <div>
        <fieldset class="aligned ()">
            {% form_as_div form %}
        </fieldset>
    </div>
    <div class="submit-row">
        <input type="submit" value="Save" class="default" />
    </div>
</form>
{% endblock %}
