{% extends "main.html" %}

{% load staticfiles %}
{% load paginator %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/changelists.css" %}" />
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module  {% if filter_bar %}filtered{% endif %}" id="changelist">
        {% if filter_bar %}
            <div id="changelist-filter">
                <h2>Filter</h2>
                {{ filter_bar|safe }}
            </div>
        {% endif %}
        {% searchform %}
        {% gen_table page.object_list %}
        {% pagination page request %}
    </div>
</div>
{% endblock %}
