{% extends "main.html" %}

{% load paginator %}

{% block content %}
<div id="content-main">
    <div class="toolbar">
        {% searchform %}
        {% if filter_bar %}
        <ul id="menu">
            <li>
                <a href='#'>Filter</a>
                <ul>
                {{ filter_bar|safe }}
                </ul>
            </li>
        </ul>
        {% endif %}
        {% block actions %}{% endblock %}
    </div>
    <div class="module clear">
        <h2>{% block short_title %}List{% endblock %}</h2>
        {% block list_content %}
        {% if page.object_list %}
        {% gen_table page.object_list %}
        {% endif %}
        {% endblock %}
        {% pagination page request %}
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
        $( "#menu" ).menu();
});
</script>

{% endblock %}
