{% extends "base_site.html" %}
{% load url from future %}

{% block coltype %}colSM{% endblock %}

{% block sidebar %}
<div id="content-related">
  {% if is_admin %}
  <div class="module">
    <h2>Quick search</h2>
    <form action="{% url "kg_site_search" %}" method="get">
      <div><!-- DIV needed for valid HTML -->
          &nbsp;<input type="text" size="21" name="sitesearch" value="{% if siteterms %}{{ siteterms }}{% endif %}" id="sitesearch" />
        <input type="submit" value="Go" class="default" />
      </div>
    </form>
  </div>
  <div class="module object-tools">
    <h2>Admin links</h2>
    <ul>
        {% for_each_app_include "main_admin.html" %}
        <li><a class="{% active request "misc/" %}" href="{% url "kg_misc" %}">Other Stuff</a></li>
    </ul>
  </div>
  {% endif %}
  <div class="module object-tools">
    <h2>Profile links</h2>
    <ul>
        {% for_each_app_include "main_profile.html" %}
        {% if user.is_authenticated %}
        <li><a class="{% active request "profile/saml/" %}" href="{% url 'kg_profile_saml' %}">SAML</a></li>
        <li><a href="{% url 'kg_profile_logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'kg_profile_login' %}">Log In</a></li>
        {% endif %}
    </ul>
  </div>
  {% block sidebar_extra %}
  {% block object-tools %}
  {% endblock %}
  {% endblock %}
</div>
{% endblock %}
