{% extends "forms.html" %}

{% block title %}Users{% endblock %}

{% block content_title %}{% if user %}Edit{% else %}Create{% endif %} User{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="../">Users</a>
 &rsaquo; {% if user %}Edit{% else %}Create{% endif %} User
{% endblock %}   

{% block content %}
<form method="post" action=".">
{% load forms %}
{% if username_error %}
<ul class="errorlist">
<li>Username already in use.</li>
</ul>
{% endif %}
<fieldset class="module aligned ()">
<h2>User Account details</h2>
{% formfield form.username %}
{% formfield form.machine_category %}
{% formfield form.default_project %}
</fieldset>

<div class="submit-row">
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}