{% extends "forms.html" %}

{% block title %}Institutes{% endblock %}

{% block content_title %}{% if obj %}Edit{% else %}Create{% endif %} Institute Quota/Cap{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url kg_institute_list %}">Institutes</a>
 &rsaquo; {% if obj %}Edit{% else %}Create{% endif %} Institute Quota/Cap
{% endblock %}   

{% block content %}
<form method="post" action=".">
{% load forms %}
<fieldset class="module aligned ()">
{% form_as_div form %}
</fieldset>

<div class="submit-row">
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}
