{% extends "forms.html" %}

{% block login_bar %}{% endblock %}

{% block title %}Project registration{% endblock %}
{% block content_title %}Project registration{% endblock %}

{% block style %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms_custom.css"/>{% endblock %}
{% load forms %}
{% block content %}
	<form method="post" action=".">
	
	{% if form.errors  or form.non_field_errors %}
		<p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
	{% endif %}
	<fieldset class="module aligned ()">
	{{ form.non_field_errors }}
	<div class="form-row checkbox-row" >
	<label class="vCheckboxLabel heading">
	Please enter your personal details below. Required fields are <b>bold</b>.
	<br/>
	<b>NOTE:</b> If using Internet Explorer please insure you have at least version 7 as older versions
	may not function correctly.
	</label> 
	</div>
		{% formfield form.title %}
		{% inlineformfield form.first_name form.last_name %}
		{% formfield form.position %}
		{% inlineformfield form.institute form.department %}
		{% formfield form.email %}
		{% inlineformfield form.telephone form.fax %}
		{% formfield form.address %}
		{% formfield form.country %}
	</fieldset>
	<fieldset class="module aligned ()">
		<div class="form-row checkbox-row" >
		<label class="vCheckboxLabel heading">
		This username and password will be for your VPAC account. It will be used for this account interface, 
		and also your (optional) account on the VPAC supercomputers.
		</label> 
		</div>
		{% formfield form.username %}
		{% formfield form.password1 %}
		{% formfield form.password2 %}
		{% formfield form.needs_account %}
		{% formfield form.tos %}
	</fieldset>
	
	<fieldset class="module aligned ()">
		<div class="form-row checkbox-row" >
		<label class="vCheckboxLabel heading">
		Please enter the details of the project you would like to register at VPAC.
		</label> 
		</div>
		{% formfield form.project_name %}
		{% formfield form.is_expertise %}
		{% formfield form.pid %}
		{% formfield form.project_institute %}
		{% formfield form.project_description %}
		{% formfield form.additional_req %}
		<input type="hidden" name="imghash" value="{{ imghash }}" id="id_imghash" />
		<img src="{{ MEDIA_URL }}img/captcha/{{ tempname }}"><br />
		{% formfield form.imgtext %}		
		<input type="hidden" name="machine_categories" value="1" />
	</fieldset>
	<div class="submit-row">
			<input type="submit" value="Submit" class="default" />
	</div>
</form>
{% endblock %}