{% extends "main.html" %}

{% block content_title %}Project Request{% endblock %}
{% block content %}

<p>Thanks {{ person.first_name }} for your project request for <i>{{ project.name }}</i>.</p>

<p>{{ project.institute }}'s Operations Committee Member, <b>{{ project.institute.delegate }}</b>, has been emailed
about the request, and we're waiting for their authorisation.</p>

<p>You can contact {{ project.institute.delegate }} by:<br />
	<ul>
		<li>Email: {{ project.institute.delegate.email|urlize }}</li> 
		<li>Phone: {{ project.institute.delegate.telephone }}</li>
	</ul>
</p>
{% endblock %}