{% extends "forms.html" %}

{% block login_bar %}{% endblock %}

{% block title %}User registration{% endblock %}
{% block content_title %}User registration{% endblock %}

{% block style %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms_custom.css"/>{% endblock %}

{% block content %}
<h1>Step 1 - User Details</h1>
<form method="post" action=".">
{% load forms %}
{% if form.errors  or form.non_field_errors %}
	<p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
<fieldset class="module aligned ()">
{{ form.non_field_errors }}
<div class="form-row checkbox-row" >
<label class="vCheckboxLabel heading">
Please enter your personal details below. Required fields are <b>bold</b>.<br/>
<b>NOTE:</b> If using Internet Explorer please insure you have at least version 7 as older versions
may not function correctly.
</label> 
</div>
{% formfield form.title %}
{% inlineformfield form.first_name form.last_name %}
{% formfield form.position %}
{% inlineformfield form.institute form.department %}
{% formfield form.supervisor %}
{% formfield form.email %}
{% inlineformfield form.telephone form.fax %}
{% formfield form.mobile %}
{% formfield form.address %}
{% formfield form.country %}
</fieldset>
<fieldset class="module aligned ()">
<div class="form-row checkbox-row" >
<label class="vCheckboxLabel heading">
This username and password will be for your VPAC account. It will be used for this account interface, 
and also your account on the VPAC supercomputers. You will be asked for your project on the next page.
</label> 
</div>
{% formfield form.username %}
{% formfield form.password1 %}
{% formfield form.password2 %}
{% formfield form.tos %}
<input type="hidden" name="imghash" value="{{ imghash }}" id="id_imghash" />
<img src="{{ MEDIA_URL }}img/captcha/{{ tempname }}"><br />
{% formfield form.imgtext %}
</fieldset>
<div class="submit-row">
		<input type="submit" value="Next" class="default" />
</div>
</form>
{% endblock %}
