{% extends "main.html" %}


{% block title %}Machine{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_machine_category_list' %}">Machines</a>&nbsp;›
    <a href="{% url 'kg_machine_category_detail' machine.category.pk  %}">{{ machine.category }}</a>&nbsp;›
    <a href="{% url 'kg_machine_detail' machine.pk  %}">{{ machine }}</a>&nbsp;›
    Password
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>{{ machine }} password</h2>

        {% if password %}
        <p>New password: {{ password }}</p>
        {% else %}
        <p>If password has not been set yet or was lost, it can be reset here to a new random value.</p>
        <form method="post" action=".">{% csrf_token %}
            <input type="submit" value="Reset" class="button" />
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

