{% extends "forms.html" %}


{% block title %}Delete{{ record_type }}{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href='{% url "kg_machine_category_list" %}'>Machines</a>&nbsp;›
    Delete {{ record_type }}
</div>
{% endblock %}


{% block content %}
{% if errors %}
    <h1>Cannot delete {{ record_type }} "{{ record }}".</h1>
    </br>
    <p>To delete this {{ record_type }} first address the following issues:</p>
    <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% else %}
    <h1>Are you sure?</h1>
    <p>Are you sure you want to delete the {{ record_type }} "{{ record }}"?</p>
    <form method="post" action=".">{% csrf_token %}
        <div>
            <input type="hidden" name="post" value="yes" />
            <input type="submit" value="Yes, I'm sure" />
        </div>
    </form>
{% endif %}
{% endblock %}
