Hello {{ receiver }},

Your {{ org_name }} application to join the project "{{ project }}" has been declined.

If you think this is an error please email {{ org_email }}


{% include "emails/email_footer.txt" %}
