Hello {{ receiver }},

{{ requester }} is requesting to join the project {{ project }}.

Please visit the {{ org_name }} Account Management site at https://example.org/kgreg{{ site }} for more information and to accept or decline this request.


Thanks,

{% include "emails/email_footer.txt" %}
