=============================
THIS IS AN EXAMPLE EMAIL ONLY
========================================================================================================================
To create your own email copy this example 
From:
/etc/karaage/templates/emails/project_request_body.txt.template
To:
/etc/karaage/templates/emails/project_request_body.txt
=========================================================================================================================

Hello {{ receiver }},

{{ requester }} is requesting to start a new project titled: {{ application.name }}.

Please visit the {{ org_name }} Account Management site at {{ site }} for more information and to accept or decline this request.


{% include "emails/email_footer.txt" %}
