Hi,

{{ sender }} has invited you to join the {{ org_name }} project {{ project }}

{{ message }}

{% if make_leader %}They have also asked you to become a project leader.{% endif %}

To create your account and also an account on the cluster if you choose please visit http://example.com/kgreg{{ site }}

This link will expire in 7 days.

Thanks,

{% include "emails/email_footer.txt" %}
