{% extends "main.html" %}

{% block title %}Login{% endblock %}
{% block login_bar %}{% endblock %}

{% block style %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms_custom.css"/>{% endblock %}
{% load forms %}
{% block content %}
<h1>Login Required</h1>
{% if form.errors or form.non_field_errors %}
	{{ form.non_field_errors }}
{% endif %}

<form method="post" action=".">
{% formfield form.username %}
{% formfield form.password %}

<input type="hidden" name="next" value="{{ next }}" />
<input type="submit" value="login" />
</form>
<p>Don't have a username of forgot your password?<br/>
Ring us on (03) 9925 4410 and we'll sort one out for you.
</p>
{% endblock %}