{% extends "main.html" %}

{% block title %}LDAP{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="../../">Institutes</a>
 &rsaquo; <a href="../">{{ institute }}</a>
 &rsaquo; LDAP Detail
{% endblock %}   
 
{% block content %}
<div id="content-main">

	<div class="module">
   	<h2>LDAP</h2>
		<table>
		<thead>
			<tr>
				<th>Key</th>
				<th>Value</th>			
			</tr>		
		</thead>   
		<tbody>
		
			<tr><td>cn</td><td>{{ ldap.cn }}</td></tr>
			<tr><td>gidNumber</td><td>{{ ldap.gidNumber }}</td></tr>
			<tr><td>objectClass</td><td>{{ ldap.objectClass }}</td></tr>		
			<tr><td>Members</td><td>
			<ul>
				{% for u in ldap.memberUid %}
					<li>{{ u }}</li>
				{% endfor %}	
			</ul>
			</td></tr>	
		</tbody>

		</table>

	</div>

</div>
{% endblock %}
