{% extends "institutes/institute_base.html" %}

{% block breadcrumbs %}{{ block.super }} &rsaquo; {{ institute }}{% endblock %}    

{% block content %}
<div id="content-main">
  
  <div class="module">
    <h2>Institutes</h2>
    {% if graph %}
    <a href="{{ institute.get_usage_url }}">
      <img src="{{ GRAPH_URL }}institutes/{{ graph }}"  class="float-right" width="300" height="150"/>
    </a>
    {% endif %}
    <h3>{{ institute }}</h3>
    
    <table>
      <tr><td colspan="2"><a href="{{ institute.get_usage_url }}">View Usage</a></td></tr>
      <tr><td>Delegate:</td><td><a href="{{ institute.delegate.get_absolute_url }}">{{ institute.delegate }}</a></td></tr>
      <tr><td>Active Delegate:</td><td><a href="{{ institute.active_delegate.get_absolute_url }}">{{ institute.active_delegate }}</a></td></tr>
      <tr><td>Gid:</td><td>{{ institute.gid }}</td></tr>
      {% if perms.people.change_institute %}
      <tr><td colspan="2"><a href="edit/" class="changelink">Edit</a></td></tr>
      {% endif %} 
    </table>
  </div>
  <div class="module">
    <h2>Caps and quotas</h2>
    <table>
      <thead>
	<tr>
	  <th>Machine Category</th>
	  <th>Quota</th>
	  <th>Cap (mPoTS)</th>				
	</tr>			
      </thead>
      <tbody>
	{% for iq in institute.institutechunk_set.all %}
   	<tr class="{% cycle row1,row2 %}">
   	  <td>{{ iq.machine_category }}</td>
	  <td>{{ iq.quota }}</td>
	  <td>{{ iq.get_cap }}</td>
	  {% if perms.pbsmoab.change_institutechunk %}<td><a href="{% url kg_institute_quota_edit iq.id %}" class="changelink">edit</a></td>{% endif %}
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  {% if institute.project_set.select_related %}
  <div class="module">
    <h2>Projects</h2>
    {% gen_table institute.project_set.select_related %}
  </div>
  {% endif %}
  <div class="module">
    <h2>Users</h2>
    {% gen_table institute.person_set.select_related %}
  </div>
</div>
{% endblock %}
