{% extends "main.html" %}
{% load url from future %}


{% block title %}Institute{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href='{% url 'kg_institute_list' %}'>Institutes</a>&nbsp;›
    {{ institute }}
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>Institutes</h2>
        <h3>{{ institute }}</h3>
        <table>
            <tr><td>Active:</td><td>{% yes_no_img institute.is_active %}</td></tr>
            <tr><td>Delegate(s):</td><td>{% for delegate in institute.delegates.all %}<a href="{{ delegate.get_absolute_url }}">{{ delegate }}</a>, {% endfor %}</td></tr>
            <tr><td>Group:</td><td><a href="{{ institute.group.get_absolute_url }}">{{ institute.group }}</a></td></tr>
            {% if institute.saml_entityid %}
            <tr><td>SAML entityID:</td><td>{{ institute.saml_entityid }}</td></tr>
            {% endif %}
            {% if request.user.is_admin %}
            <tr><td colspan="2"><a class="changelink" href="edit/">Edit</a></td></tr>
            {% endif %} 
        </table>
    </div>

    <div class="module">
        <h2>Caps and quotas
            {% if request.user.is_admin %}
            <a class="addlink" href="{% url 'kg_institutequota_add' institute.pk %}">Add</a>
            {% endif %}
        </h2>
        <table>
            <thead>
                <tr>
                    <th>Machine Category</th>
                    <th>Quota</th>
                    <th>Cap (mPoTS)</th>
                </tr>
            </thead>
            <tbody>
                {% for iq in institute.institutequota_set.all %}
                <tr class="{% cycle row1,row2 %}">
                    <td>{{ iq.machine_category }}</td>
                    <td>{{ iq.quota }}</td>
                    <td>{{ iq.get_cap }}</td>
                    {% if request.user.is_admin %}<td><a class="changelink" href="{% url 'kg_institutequota_edit' iq.pk %}">edit</a></td>{% endif %}
                    <td><a class="deletelink" href="{% url 'kg_institutequota_delete' iq.pk %}">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if institute.project_set.select_related %}
    <div class="module">
        <h2>Projects</h2>
        {% gen_table institute.project_set.select_related %}
    </div>
    {% endif %}

    <div class="module">
    <h2>Users</h2>
        {% gen_table institute.person_set.select_related %}
    </div>

    {% comments institute %}
</div>
{% endblock %}


{% block object-tools %}
{% if request.user.is_admin %}
<div class="module object-tools">
    <h2>Tasks</h2>
    <ul>
        <li><a href="{% url 'kg_institute_logs' institute.pk %}">View logs</a></li>
        <li class="addlink"><a href="{% url 'kg_institute_add_comment' institute.pk %}">Add comment</a></li>
        <li><a href="{% url 'kg_institute_verbose' institute.pk %}">Verbose</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}
