{% extends "institutes/institute_base.html" %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;›
    <a href='{% url 'kg_institute_list' %}'>Institutes</a>&nbsp;›
    {{ institute }}
</div>
{% endblock %}

{% block content %}<div id="content-main">
<div class="module">
<h2>Institutes</h2>
    <h3>{{ institute }}</h3>
<table>
    <tr><td>Usage</td><td>{% for mc, graph_url in graph.iteritems %}<a href="{% url 'kg_usage_institute' mc.pk institute.pk %}">{{ mc }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
<tr><td>Active:</td><td>{% yes_no_img institute.is_active %}</td></tr>
<tr><td>Delegate(s):</td><td>{% for delegate in institute.delegates.all %}<a href="{{ delegate.get_absolute_url }}">{{ delegate }}</a>, {% endfor %}</td></tr>
<tr><td>Group:</td><td><a href="{{ institute.group.get_absolute_url }}">{{ institute.group }}</a></td></tr>
      {% if institute.saml_entityid %}
      <tr><td>SAML entityID:</td><td>{{ institute.saml_entityid }}</td></tr>
      {% endif %}
      {% if request.user.is_admin %}
      <tr><td colspan="2"><a class="changelink" href="edit/">Edit</a></td></tr>
      {% endif %} 
    </table>
</div>
<div class="module">
<h2>Caps and quotas</h2>
<table>
<thead>
<tr>
<th>Machine Category</th>
<th>Quota</th>
<th>Cap (mPoTS)</th>
</tr>
</thead>
<tbody>
	{% for iq in institute.institutechunk_set.all %}
   	<tr class="{% cycle row1,row2 %}">
<td>{{ iq.machine_category }}</td>
<td>{{ iq.quota }}</td>
<td>{{ iq.get_cap }}</td>
	  {% if request.user.is_admin %}<td><a class="changelink" href="{% url 'kg_institute_quota_edit' iq.id %}">edit</a></td>{% endif %}
	</tr>
	{% endfor %}
      </tbody>
</table>
</div>
  {% if institute.project_set.select_related %}
  <div class="module">
<h2>Projects</h2>
    {% gen_table institute.project_set.select_related %}
  </div>
  {% endif %}
  <div class="module">
<h2>Users</h2>
    {% gen_table institute.person_set.select_related %}
  </div>
{% for mc, graph in graph.iteritems %}
<div class="module">
    <h2>Usage - {{ mc }}</h2>
    <p><a href="{{ graph.data_url }}">data</a></p>
    <a href="{% url 'kg_usage_institute' mc.pk institute.pk %}">
    <img src="{{ graph.graph_url }}"/>
</div>
</a>
{% endfor %}
</div>
{% endblock %}

{% block object-tools %}
{% if request.user.is_admin %}
<div class="module object-tools">
    <h2>Tasks</h2>
    <ul>
        <li><a href="{% url 'kg_institute_verbose' institute.pk %}">Verbose</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}
