{% extends "common/profile_base.html" %}
{% load url from future %}


{% block title %}Institutes - My profile{% endblock %}
{% block profile_title %}Institutes{% endblock %}


{% block profile_content %}
<div class="module">
    <h2>My Institutes</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Delegate(s)</th>
            </tr>
        </thead>

        <tbody>
            {% with i=person.institute %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{% for delegate in i.delegates.all %}{{ delegate }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            </tr>
            {% endwith %}
            {% for i in person.institutes.all %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{% for delegate in i.delegates.all %}{{ delegate }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if institute_list %}
<div class="module">
    <h2>Delegate for</h2>
    {% gen_table institute_list %}
</div>
{% endif %}
{% endblock %}
