{% extends "main.html" %}
{% load url from future %}


{% block title %}Accept License{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;›
    <a href="{% url 'kg_software_list' %}">Software</a>&nbsp;›
    Accept License
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <h1>{{ software.name }}</h1>
    {% if software.restricted %}
    <p class="errornote">NOTE: This software is restricted and requires admin approval. You will receive notification via email once your request has been processed</p>
    {% endif %}

    {{ software.description|linebreaks }}
    <p>Homepage: {{ software.homepage|urlize }}</p>
    {% if software.tutorial_url %}<p>Tutorial: {{ software.tutorial_url|urlize }}</p>{% endif %}


    {% if software_license %}
    <div class="border">
        <h3>End User License Agreement</h3>
        <p><a href="print/">Print version</a></p>
        {% if software_license.version %}<p>Version: {{ software_license.version }}</p>{% endif %}
        {{ software_license.text|safe|linebreaks }}
    </div>
    {% endif %}

    <form {% if software.restricted %}action="{% url 'kg_application_software_new' software_license.pk %}"{% else %}action="."{% endif %} method="post">{% csrf_token %}
        <p>By clicking on 'I accept' you are agreeing to the conditions above.</p>
        <div class="submit-row">
            <input type="submit" value="I accept"/>
        </div>
    </form>
</div>
{% endblock %}
