{% extends "main.html" %}
{% load url from future %}


{% block title %}Accept License{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_software_list' %}">Software</a>&nbsp;›
    Accept License
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>Software</h2>
        <h3>{{ software.name }}</h3>

        <table class="keyvalue">
            {% if software.category %}<tr><th>Category:</th><td><a href="{% url 'kg_software_list' %}?category={{ software.category.id }}">{{ software.category }}</a></td></tr>{% endif %}
            <tr><th>Description:</th><td>{{ software.description }}</td></tr>
            <tr><th>Homepage:</th><td>{{ software.homepage|urlize }}</td></tr>
            <tr><th>Tutorial:</th><td>{{ software.tutorial_url|urlize }}</td></tr>
            {% if software.group %}
            <tr><th>Group:</th><td><a href="{{ software.group.get_absolute_url }}">{{ software.group }}</a></td></tr>
            {% endif %}
            <tr><th>Restricted:</th><td>{% yes_no_img software.restricted %}</td></tr>
        </table>

        {% if software.restricted %}
        <p class="errornote">NOTE: This software is restricted and requires admin approval. You will receive notification via email once your request has been processed</p>
        {% endif %}
    </div>

    {% if software_license %}
    <div class="module">
        <h2>End User License Agreement</h2>

        <form {% if software.restricted %}action="{% url 'kg_application_software_new' software_license.pk %}"{% else %}action="."{% endif %} method="post">{% csrf_token %}
            <p><a href="{% url 'kg_software_license_txt' software.pk %}">Print version</a></p>
            {% if software_license.version %}<p>Version: {{ software_license.version }}</p>{% endif %}
            <blockquote>{{ software_license.text|safe|linebreaks }}</blockquote>
            <p>By clicking on 'I accept' you are agreeing to the conditions above.</p>
            <div class="submit-row">
                <input type="submit" value="I accept"/>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
