{% extends "main.html" %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url kg_software_list %}">Software</a>
 &rsaquo; {{ package }}
{% endblock %}   

{% block content %}
<h1>{{ package.name }}</h1>
{% if package.restricted %}
<p class="errornote">NOTE: This software is restricted and requires admin approval. You will receive notification via email once your request has been processed</p>
{% endif %}

{{ package.description|linebreaks }}
<p>Homepage: {{ package.homepage|urlize }}</p>
{% if package.tutorial_url %}<p>Tutorial: {{ package.tutorial_url|urlize }}</p>{% endif %}


{% if software_license %}
<div class="border">
<h3>End User License Agreement</h3>
<p><a href="print/">Print version</a></p>
{% if software_license.version %}<p>Version: {{ software_license.version }}</p>{% endif %}
{{ software_license.text|safe|linebreaks }}
</div>
{% endif %}

<form method="post" action=".">{% csrf_token %}

<p>By clicking on 'I accept' you are agreeing to the conditions above.</p>
<div class="submit-row">	
<input type="submit" value="I accept" />
</div>

</form>
{% endblock %}
