{% extends "main.html" %}

{% block content %}

{% if software_list %}
	<h1>Restricted Software</h1>
	{% for s in software_list %}
		{% if s.accepted or s.pending_request %}
 			<h2>{{ s.package }}<span class="small green">
 			{% if s.accepted %}- accepted {{ s.accepted_date|date }}{% endif %}{% s.pending_request %}- Request pending{% endif %}</span></h2>
 		{% else %}
 			<a href="{{ s.package.id }}/">{{ s.package }}</a>
 		{% endif %}
 		<p>{{ s.package.description|truncatewords:"10" }}</p>
 		<hr />
	{% endfor %}
{% else %}
	<p>No restricted software currently available.</p>
{% endif %}

{% endblock %}
