{% extends "forms.html" %}
{% load url from future %}

{% block title %}Software{% endblock %}



{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› <a href="{% url 'kg_software_list' %}">Software</a>
 › {% if m %}Edit{% else %}Create{% endif %} Software Package
</div>{% endblock %}   

{% block content %}
<form method="post" action=".">{% csrf_token %}
{% load forms %}
{{ form.non_field_errors }}
<fieldset class="module aligned ()">
{% inlineformfield form.name form.category %}
{% formfield form.description %}
{% formfield form.academic_only %}
{% formfield form.restricted %}
{% inlineformfield form.homepage form.tutorial_url %}
</fieldset>
<fieldset class="module aligned ()">
<h2>Version Info</h2>
{% inlineformfield form.version form.module %}
{% formfield form.machines %}
</fieldset>
<fieldset class="module aligned ()">
<h2>License Info</h2>
{% inlineformfield form.license_version form.license_date %}
{% formfield form.license_text %}
</fieldset>

<div class="submit-row">
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}
