{% extends "main.html" %}
{% load url from future %}


{% block title %}Software License{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_software_list' %}">Software</a>&nbsp;›
    <a href="{% url 'kg_software_detail' l.software.pk %}">{{ l.software }}</a>&nbsp;›
    {{ l }}
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>Licenses</h2>
        <p>Version: {{ l.version }}</p>
        <p>Date: {{ l.date|date }}</p>
        {{ l.text|safe|linebreaks }}
    </div>
</div>
{% endblock %}
