{% extends "forms.html" %}

{% block title %}Software{% endblock %}

{% block content_title %}{% if l %}Edit{% else %}Create{% endif %} Software License{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url kg_software_list %}">Software</a>
 &rsaquo; {% if l %}Edit{% else %}Create{% endif %} Software License
{% endblock %}   

{% block content %}
<form method="post" action=".">
{% load forms %}
<fieldset class="module aligned ()">
<input type="hidden" name="package" value="{{ package.id }}" />
{% formfield form.version %}
{% formfield form.date %}
{% formfield form.text %}
</fieldset>

<div class="submit-row">
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}
