{% extends "common/profile_base.html" %}
{% load url from future %}


{% block title %}Licensed Software - My profile{% endblock %}
{% block profile_title %}Licensed Software{% endblock %}


{% block profile_content %}
<div class="module">
    <h2>Softare Agreements</h2>

    <div class="object-tools">
        <ul>
            <li><a href="{% url 'kg_software_list' %}" class="addlink">Add software</a></li>
        </ul>
    </div>

    {% if agreement_list %}
    {% gen_table agreement_list %}
    </table>
    {% else %}
    <p>No licensed software agreements.</p>
    {% endif %}
</div>

{% endblock %}
