{% extends "main.html" %}
{% load url from future %}


{% block title %}Software (Verbose){% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_software_list' %}">Software</a>&nbsp;›
    <a href="{% url 'kg_software_detail' software.pk %}">{{ software }}</a>&nbsp;›
    Verbose
</div>
{% endblock %}


{% block content %}
<div id="content-main">

    {% for name, details in package_details.iteritems %}
    <div class="module">
        <h2>Software details - {{name}}</h2>
        {% for a in details %}
        <h3>{{a.datastore}}</h3>
        <table class="keyvalue">
            {% for i,j in a.iteritems %}
                <tr>
                    <th>{{ i }}</th><td>{{ j }}</td>
               </tr>
            {% endfor %}
        </table>
        {% empty %}
        <p>No datastores.</p>
        {% endfor %}
    </div>
    {% empty %}
    <div class="module">
        <h2>Software details</h2>
        <p>Software is not in any machine categories.</p>
    </div>
    {% endfor %}

</div>
{% endblock %}
