<table cellspacing="0">
	<thead>
		<tr>
			<th>Name</th>
			<th>GID</th>
			<th>Version</th>
			<th>Machines</th>
		</tr>
	</thead>   	
   <tbody>
   	{% for package in object_list %}
	   	<tr class="{% cycle "row1" "row2" as rowcolour %}">
	   		<td><a href="{{ package.get_absolute_url }}">{{ package.name }}</a></td>
	   		<td>{{ package.gid }}</td>
	   		{% for version in package.softwareversion_set.all %}
					{% if not forloop.first %}
						<tr class="{{ rowcolour }}">	   		
	   					<td>&nbsp;</td>
							<td>&nbsp;</td>
					{% endif %}
					<td>{{ version.version }}</td>
					<td>{% for m in version.machines.all %}<a href="{{ m.get_absolute_url }}">{{ m }}</a>{% endfor %}</td>
					</tr>
				{% endfor %}
		{% endfor %}
   </tbody>  	
</table>
