{% extends "changelist.html" %}

{% block title %}Software{% endblock %}

{% block content_title %}&nbsp;{% endblock %}

{% block breadcrumbs %}{{ block.super }} &rsaquo; Software{% endblock %}   

{% block objecttools %}
{% if perms.software.add_softwarepackage %}
<ul class="object-tools">
{% if perms.software.change_softwareaccess_request %}
<li><a href="{% url kg_softwarerequest_list %}">Requests</a></li>
{% endif %}
{% if perms.software.add_softwarecategory %}
<li><a href="{% url kg_software_category_list %}">Categories</a></li>
{% endif %}
{% if perms.software.add_softwarepackage %}
<li><a href="{% url kg_software_add %}" class="addlink">Add software</a></li>
{% endif %}
</ul>
{% endif %}
{% endblock %}

