{% extends "main.html" %}
{% load url from future %}
{% load humanize filters %}


{% block title %}Software (stats){% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs"><a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_software_list' %}">Software</a>&nbsp;›
    <a href="{{ software.get_absolute_url }}">{{ software }}</a>&nbsp;›
    Statistics
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <p>{% date_filter start end %}</p>
    <div class="module">
        <h2>Versions</h2>
        <table>
            <thead>
                <tr>
                    <th>Version</th>
                    <th>CPU Time</th>
                    <th>No. Jobs</th>
                </tr>
            </thead>
            {% comment %}
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td class="right">{{ version_total.usage__sum|timeformat }}</td>
                    <td class="right">{{ version_totaljobs|intcomma }}</td>
                </tr>
            </tfoot>
            {% endcomment %}
            <tbody>
                {% for version in version_stats|dictsortreversed:"usage" %}
                <tr>
                    <td><a href="{% url 'kg_software_version_stats' version.id %}?{{ querystring }}">{{ version }}</a></td>
                    <td class="right">{{ version.usage|timeformat }}</td>
                    <td class="right">{{ version.jobs|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="module">
        <h2>Users</h2>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>CPU Time</th>
                    <th>No. Jobs</th>
                </tr>
            </thead>
            {% comment %}
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td class="right">{{ total|timeformat }}</td>
                    <td class="right">{{ total_jobs|intcomma }}</td>
                </tr>
            </tfoot>
            {% endcomment %}
            <tbody>
                {% for person in person_stats|dictsortreversed:"usage" %}
                <tr>
                    <td><a href="{{ person.get_absolute_url }}">{{ person }}</a></td>
                    <td class="right">{{ person.usage|timeformat }}</td>
                    <td class="right">{{ person.jobs|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
