{% extends "main.html" %}
{% load url from future %}


{% block title %}Software{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;›
    <a href="../">Software</a>&nbsp;›
    {{ package }}
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>Details</h2>
        <h3>{{ package }}</h3>
        <table>
            {% if package.category %}<tr><td>Category:</td><td><a href="{% url 'kg_software_list' %}?category={{ package.category.id }}">{{ package.category }}</a></td></tr>{% endif %}
            <tr><td>Description:</td><td>{{ package.description }}</td></tr>
            <tr><td>Homepage:</td><td>{{ package.homepage|urlize }}</td></tr>
            <tr><td>Tutorial:</td><td>{{ package.tutorial_url|urlize }}</td></tr>
            {% if package.group %}
            <tr><td>Group:</td><td><a href="{{ package.group.get_absolute_url }}">{{ package.group }}</a></td></tr>
            {% endif %}
            <tr><td>Restricted:</td><td>{% yes_no_img package.restricted %}</td></tr>
        </table>
    </div>

    <div class="module">
        <h2>Versions</h2>
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Module</th>
                    <th>Machines</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for version in package.softwareversion_set.select_related %}
                <tr class="{% cycle row1,row2 %}">
                    <td>{{ version.version }}</td>
                    <td>{{ version.module }}</td>
                    <td>
                        {% for m in version.machines.all %}
                                <a href="{{ m.get_absolute_url }}">{{ m }}</a>
                        {% endfor %}
                    </td>
                    {% if perms.software.change_softwareversion %}
                    <td><a class="changelink" href="{% url 'kg_software_version_edit' version.id %}">Edit</a></td>
                    {% endif %}
                    {% if perms.software.delete_software_version %}
                    <td><a class="deletelink" href="{% url 'kg_software_version_delete' version.id %}">Delete</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if package.softwarelicense_set.all %}
    <div class="module">
        <h2>Licenses</h2>
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Date</th>
                    <th colspan="3"></th>
                    <th>Users</th>
                </tr>
            </thead>
            <tbody>
                {% for license in package.softwarelicense_set.all %}
                <tr class="{% cycle row1,row2 %}">
                    <td>{{ license.version }}</td>
                    <td>{{ license.date|date }}</td>
                    <td><a href="{% url 'kg_software_license_detail' license.id %}">view</a></td>
                    <td>{% if request.user.is_admin %}<a class="changelink" href="{% url 'kg_software_license_edit' license.id %}">Edit</a>{% endif %}</td>
                    <td>{% if request.user.is_admin %}<a class="deletelink" href="{% url 'kg_software_license_delete' license.id %}">Delete</a>{% endif %}</td>
                    <td>
                        <table cellspacing="0">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Date Accepted</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in license.softwarelicenseagreement_set.select_related %}
                                <tr>
                                    <td><a href="{{ a.user.get_absolute_url }}">{{ a.user }}</a></td>
                                    <td>{{ a.date }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if package.gid %}
    <div class="module">
        <h2>LDAP Group members</h2>
        {% if request.user.is_admin %}
        <form action="" id="add_member_form" method="post">{% csrf_token %}
            <div class="form-row">
                <label for="id_member">Add member:</label>
                <select class="vNullSelectField" id="id_member" name="member" size="1">
                <option selected="selected" value="">---------</option>
                {% for p in not_member_list %}
                <option value="{{ p.id }}">{{ p }}</option>
                {% endfor %}
                </select>
                <input name="member-add" type="submit" value="Add"/>
            </div>
        </form>
        {% endif %}
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>username</th>
                    <th>Person</th>
                </tr>
            </thead>
            <tbody>
                {% for m in member_list %}
                <tr class="{% cycle row1,row2 %}">
                    <td>{{ m.username }}</td>
                    <td><a href="{{ m.person.get_absolute_url }}">{{ m.person }}</a></td>
                    {% if request.user.is_admin %}
                    <td><a class="deletelink" href="{% url 'kg_software_removeuser' package.id m.person.id %}">Remove</a></td>
                    {% endif %}
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% comments package %}
</div>
{% endblock %}

{% block object-tools %}
<div class="module object-tools">
    <h2>Tasks</h2>
    <ul>
        {% if request.user.is_admin %}
        <li><a class="changelink" href="{% url 'kg_software_edit' package.id %}">Edit</a></li>
        <li><a class="deletelink" href="{% url 'kg_software_delete' package.id %}">Delete</a></li>
        <li><a class="addlink" href="{% url 'kg_software_version_add' package.id %}">Add Version</a></li>
        <li><a class="addlink" href="{% url 'kg_software_license_add' package.id %}">Add License</a></li>
        {% endif %}
        <li><a href="{% url 'kg_software_stats' package.id %}">Statistics</a></li>
        <li><a href="{% url 'kg_software_logs' package.id %}">Logs</a></li>
        <li><a href="{% url 'kg_software_add_comment' package.pk %}">Add comment</a></li>
        <li><a href="{% url 'kg_job_list' %}?software={{ package.id }}">Display all jobs</a></li>
        <li><a href="{% url 'kg_software_verbose' package.id %}">Verbose</a></li>
    </ul>
</div>
{% endblock %}
