{% extends "main.html" %}

{% block title %}Software{% endblock %}

{% block content_title %}{% endblock %}
    
{% block bread_crumbs_1 %}
 &rsaquo; <a href="../">Software</a>
 &rsaquo; {{ package }}
{% endblock %}    

{% block content %}
<div id="content-main">

	<div class="module">
	<h2>Software</h2>
	<h3>{{ package }}</h3>
	
	<table>
			<tr><td>Category:</td><td>{{ package.category }}</td></tr>
			<tr><td>Description:</td><td>{{ package.description }}</td></tr>
   		<tr><td>Homepage:</td><td>{{ package.homepage|urlize }}</td></tr>
   		<tr><td>Tutorial:</td><td>{{ package.tutorial_url|urlize }}</td></tr>
   		<tr><td>Group:</td><td>{{ package.group_name }} ({{ package.gid }})</td></tr>
   		<tr><td>Restricted:</td><td>{% yes_no_img package.restricted %}</td></tr>
			
   		<tr><td colspan="2"><p>
   		<a href="{% url kg_software_logs package.id %}">Logs</a>
   		{% if perms.software.change_softwarepackage %}&nbsp;|&nbsp;<a href="{% url kg_softwarepackage_edit package.id %}" class="changelink">Edit</a>{% endif %}
   		{% if perms.software.delete_softwarepackage %}&nbsp;|&nbsp;<a href="{% url kg_softwarepackage_delete package.id %}" class="deletelink">delete</a>{% endif %}
   		</p></td></tr>
	</table>
	</div>
	<div class="module">
		<h2>Versions</h2>
		{% if perms.software.add_softwareversion %}
		<p><a href="{% url kg_softwareversion_add package.id %}" class="addlink">Add Version</a></p>
		{% endif %}
		<table cellspacing="0">
	<thead>
		<tr>
			<th>Version</th>
			<th>Module</th>
			<th>Machines</th>	
		</tr>
	</thead>   	
   <tbody>
   	{% for version in package.softwareversion_set.select_related %}
	   	<tr class="{% cycle row1,row2 %}">
				<td>{{ version.version }}</td>
				<td>{{ version.module }}</td>
				<td>
					{% for m in version.machines.all %}
						<a href="{{ m.get_absolute_url }}">{{ m }}</a>
					{% endfor %}
				</td>
				{% if perms.software.change_softwareversion %}
				<td><a href="{% url kg_softwareversion_edit package.id,version.id %}" class="changelink">Edit</a></td>
				{% endif %}
				{% if perms.software.delete_software_version %}
				<td><a href="{% url kg_softwareversion_delete package.id,version.id %}" class="deletelink">Delete</a></td>
				{% endif %}
			</tr>
		{% endfor %}
   </tbody>  	
</table>	
	</div>
	<div class="module">
		<h2>Licenses</h2>
		{% if perms.software.add_softwarelicense %}
		<p><a href="{% url kg_softwarelicense_add package.id %}" class="addlink">Add License</a></p>
		{% endif %}
		<table cellspacing="0">
	<thead>
		<tr>
			<th>Version</th>
			<th>Date</th>
			<th colspan="3"></th>
			<th>Users</th>
		</tr>
	</thead>   	
   <tbody>
   	{% for license in package.softwarelicense_set.all %}
	   	<tr class="{% cycle row1,row2 %}">
				<td>{{ license.version }}</td>
				<td>{{ license.date|date }}</td>
				<td><a href="{% url kg_softwarelicense_detail license.id %}">view</a></td>

				<td>{% if perms.software.change_softwarelicense %}<a href="{% url kg_softwarelicense_edit package.id,license.id %}" class="changelink">Edit</a>{% endif %}</td>
				<td>{% if perms.software.delete_softwarelicense %}<a href="{% url kg_softwarelicense_delete license.id %}" class="deletelink">Delete</a>{% endif %}</td>
				<td>
				<table cellspacing="0">
				<thead>
					<tr>
					<th>User</th>
					<th>Date Accepted</th>
					</tr>
				</thead>   	
   			<tbody>
				{% for a in license.softwarelicenseagreement_set.select_related %}
				<tr>
						<td><a href="{{ a.user.get_absolute_url }}">{{ a.user }}</a></td>
						<td>{{ a.date }}</td>
						</tr>
					{% endfor %}
				</table>	
					</td>
			</tr>
			</tbody>  
		{% endfor %}
   </tbody>  	
</table>	
	</div>
	
	<div class="module">
		<h2>LDAP Group members</h2>
		{% if perms.software.change_softwarepackage %}
	<form action="" method="post" id="add_member_form">{% csrf_token %}
	<div class="form-row" >
  <label for="id_member">Add member:</label> 
	<select id="id_member" class="vNullSelectField" name="member" size="1">
    <option value="" selected="selected">---------</option>
    {% for p in not_member_list %}
    <option value="{{ p.id }}">{{ p }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Add" name="member-add" />
    </div>
    
    </form>
    {% endif %}
	<table cellspacing="0">
	<thead>
		<tr>
			<th>username</th>
			<th>Person</th>
		</tr>
	</thead>   	
   <tbody>
   	{% for m in member_list %}
	   	<tr class="{% cycle row1,row2 %}">
				<td>{{ m.username }}</td>
				<td><a href="{{ m.person.get_absolute_url }}">{{ m.person }}</a></td>
				{% if perms.software.change_softwarepackage %}
				<td><a href="{% url kg_software_removeuser package.id,m.person.id %}" class="deletelink">Remove</a></td>
				{% endif %}
			</tr>
			</tbody>  
		{% endfor %}
   </tbody>  	
</table>	
	</div>	
	
</div>
{% endblock %}
