<table cellspacing="0">
    <thead>
        <tr>
            <th>Software</th>
            <th>Agreement</th>
            <th>Current License?</th>
        </tr>
    </thead>
    <tbody>
        {% for a in object_list %}
        <tr>
            <td><a href="{{ a.license.software.get_absolute_url }}">{{ a.license.software }}</a></td>
            <td>
                <span>{{ a.date }}</span>
                <span>- <a href="{{ a.license.get_absolute_url }}">view agreed license</a></span>
            </td>
            <td>
                {% with a.license.software.get_current_license as current %}
                {% if current == a.license %}
                <span>Current license.</span>
                {% else %}
                <span class="errornote">License has changed. Please <a href="{{ a.license.software.get_absolute_url }}">accept latest license</a>.</span>
                {% endif %}
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
