{% extends "forms.html" %}
{% load url from future %}

{% block title %}Software{% endblock %}

{% block content_title %}{% if obj %}Edit{% else %}Create{% endif %} Software Category{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url 'kg_software_list' %}">Software</a>
 &rsaquo; {% if obj %}Edit{% else %}Create{% endif %} Software Category
{% endblock %}   

{% block content %}
<form method="post" action=".">{% csrf_token %}
{% load forms %}
<fieldset class="module aligned ()">
{% form_as_div form %}
</fieldset>

<div class="submit-row">
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}
