{% load url from future %}
<table cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Group</th>
            <th>Version</th>
            <th>Machines</th>
            <th>Module</td>
            <th>Last Used</th>
        </tr>
    </thead>
    <tbody>
        {% for software in object_list %}
        <tr>
            <td><a href="{{ software.get_absolute_url }}">{{ software.name }}</a></td>
            <td>{% if software.group %}<a href='{% url 'kg_group_detail' software.group.name %}'>{{ software.group }}</a>{% endif %}</td>
        {% for version in software.softwareversion_set.all %}
        {% if not forloop.first %}
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        {% endif %}
            <td>{{ version.version }}</td>
            <td>{% for m in version.machines.all %}<a href="{{ m.get_absolute_url }}">{{ m }}, </a>{% endfor %}</td>
            <td>{{ version.module }}</td>
            {% if version.last_used %}
            <td><a href="{% url 'kg_software_stats' software.id %}">{{ version.last_used }}</a></td>
            {% else %}
            <td>Unknown</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
