{% extends "forms.html" %}


{% block title %}Delete Software License{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_software_list' %}">Software</a>&nbsp;›
    <a href="{% url 'kg_software_detail' object.software.pk %}">{{ object.software }}</a>&nbsp;›
    <a href="{% url 'kg_software_license_detail' object.pk %}">{{ object }}</a>&nbsp;›
    Delete
</div>
{% endblock %}


{% block content %}
    <h1>Are you sure?</h1>    
    <p>Are you sure you want to delete the software license "{{ object }}"? </p>
    <form method="post" action=".">{% csrf_token %}
    <div>
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="Yes, I'm sure" />
    </div>
    </form>
{% endblock %}
