{% extends "forms.html" %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;›
    <a href="{% url 'kg_software_list' %}">Software</a>&nbsp;›
    <a href="{% url 'kg_software_detail' version.package.pk %}">{{ version.package }}</a>&nbsp;›
    Delete
</div>
{% endblock %}


{% block content %}
    <h1>Are you sure?</h1>
    <p>Are you sure you want to delete the version "{{ version }}"? </p>
    <form method="post" action=".">{% csrf_token %}
        <div>
            <input type="hidden" name="post" value="yes" />
            <input type="submit" value="Yes, I'm sure" />
        </div>
    </form>
{% endblock %}
