{% extends "common/profile_base.html" %}
{% load url from future %}


{% block title %}Projects - My profile{% endblock %}
{% block profile_title %}Projects{% endblock %}


{% block profile_content %}
{% if delegate_project_list %}
<div class="module">
    <h2>Projects in my institutes</h2>
    {% gen_table delegate_project_list %}
</div>
{% endif %}

{% if leader_project_list %}
<div class="module">
    <h2>Projects I lead or manage</h2>
    {% gen_table leader_project_list %}
</div>
{% endif %}

{% if project_list %}
<div class="module">
    <h2>Projects I am a member of</h2>
    {% gen_table project_list %}

    {% is_for_each_app_include_empty "profile_project_detail_tools.html" as is_empty %}
    {% if not is_empty %}
    <div class="object-tools">
        <ul>
            {% for_each_app_include "profile_project_detail_tools.html" %}
        </ul>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}
