<table cellspacing="0">
    <thead>
        <tr>
            <th>Project</th>
            <th>Name</th>
            <th>Institute</th>
            <th>Leaders</th>
            <th>Active</th>
            <th>Last Usage</th>
        </tr>
    </thead>
    <tbody>
        {% for p in object_list %}
        <tr>
            <td><a href="{{ p.get_absolute_url }}">{{ p.pid }}</a></td>
            <td>{{ p.name|truncatewords:"10" }}</td>
            <td><a href="{{ p.institute.get_absolute_url }}">{{ p.institute }}</a></td>
            <td>
              {% for l in p.leaders.all %}
              <a href="{{ l.get_absolute_url }}">{{ l }}{% if not forloop.last %}, {% endif %}</a>
              {% endfor %}
            </td>
            <td>{% yes_no_img p.is_active %}</td>
            <td>{{ p.last_usage }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
