{% extends "forms.html" %}

{% block title %}Projects{% endblock %}

{% block content_title %}{% if project %}Edit{% else %}Create{% endif %} Project{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url kg_project_list %}">Projects</a>
 &rsaquo; {% if project %}Edit{% else %}Create{% endif %} Project
{% endblock %}
 
{% block extrahead %}
<script type="text/javascript" src="{% url admin:jsi18n %}"></script> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/core.js"></script>
{{ form.media }}
{% endblock %}

{% block content %}
<form method="post" action=".">
{% load forms %}

<fieldset class="module aligned ()">
{% formfield form.name %}
{% formfield form.institute %}
{% formfield form.leader %}
{% formfield form.description %}
{% formfield form.additional_req %}
{% formfield form.start_date %}
{% formfield form.end_date %}
{% formfield form.machine_categories %}
{% formfield form.machine_category %}
</fieldset>
<div class="submit-row">
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}
