{% extends "forms.html" %}
{% load url from future %}
{% load forms %}


{% block title %}Edit Project{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_project_list' %}">Projects</a>&nbsp;›
    {% if project %}
        <a href="{% url 'kg_project_detail' project.pid %}">{{ project.pid }}</a>&nbsp;›
        Edit
    {% else %}
        Create Project
    {% endif %}
</div>
{% endblock %}


{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
{{ form.media }}
{% endblock %}


{% block content %}
<form method="post" action=".">{% csrf_token %}
    {% load forms %}
    {% if form.errors  or form.non_field_errors %}
            <p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
    {% endif %}
    <fieldset class="aligned ()">
        {% form_as_div form %}
    </fieldset>
    <div class="submit-row">
        <input type="submit" value="Save" class="default" />
    </div>
</form>

<script type="text/javascript">
$(document).ready(function(){
    var name = $("#id_pid")
    var lastValue = name.val();
    name.on('change keyup paste mouseup', function() {
        if (name.val() != lastValue) {
            lastValue = name.val()
            newValue = lastValue.split(" ").join("").toLowerCase()
            $("#id_group_name").val(newValue)
        }
    })
})
</script>
{% endblock %}
