{% extends "forms.html" %}

{% block content %}
{% if error %}
    <h1>Cannot remove project from person</h1>
    <p>{{ error }}</p>
{% else %}
    <h1>Are you sure?</h1>
    <p>Are you sure you want to remove {{ person }} from the project "{{ project }}"? </p>
    <form method="post" action=".">{% csrf_token %}
        <div>
            <input type="hidden" name="post" value="yes" />
            <input type="submit" value="Yes, I'm sure" />
        </div>
    </form>
{% endif %}
{% endblock %}
