{% extends "forms.html" %}

{% block style %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/forms_custom.css"/>{% endblock %}

{% block title %}Projects{% endblock %}



{% block content %}
<form method="post" action=".">{% csrf_token %}
{{ form.errors }}
{% load forms %}
{% if form.errors  or form.non_field_errors %}
	<p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
<fieldset class="module aligned ()">
{{ form.non_field_errors }}
{% formfield form.name %}
{% formfield form.description %}
{% formfield form.additional_req %}
</fieldset>
<div class="submit-row">
  <input type="submit" value="Proceed" class="default" />
</div>
</form>
{% endblock %}
