{% extends "main.html" %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;›
    {{ project.pid }}
</div>
{% endblock %}


{% block content %}<div id="content-main"><h1>{{ project }}</h1>
<table>
<tr><td colspan="2">
</td></tr>
<tr><td>Leaders:</td><td>{% for l in project.leaders.all %}<a href="{{ l.get_absolute_url }}">{{ l }}</a> {% endfor %}</td></tr>
<tr><td>Institute:</td><td>{{ project.institute }}</td></tr>
<tr><td>Start Date:</td><td>{{ project.start_date|date }}</td></tr>
  {% if project.end_date %}<tr><td>End Date:</td><td>{{ project.end_date|date }}</td></tr>{% endif %}
  <tr><td>Description:</td><td>{{ project.description }}</td></tr>
<tr><td>Approved:</td><td>{% yes_no_img project.is_active %}</td></tr>
<tr><td>Active:</td><td>{% yes_no_img project.is_approved %}</td></tr>
</table>	
{% if project.is_active and user.get_profile in project.leaders.all %}
<div class="module">
<h2>Management tasks</h2>
<p><a class="addlink" href="{% url 'kg_userapplication_invite' project.pid %}">Invite a new user</a></p>
<p><a href="{{ project.get_usage_url }}">View Usage</a>
</p></div>
{% endif %}
{% if project.group.members.all %}
<div class="module">
<h2>Users</h2>
<table cellspacing="0">
<thead>
<tr>
	{% if user.is_authenticated %}
	<th>Username</th>
	{% endif %}
	<th>Name</th>
	{% if user.is_authenticated %}
	<th>Email</th>
<th>Active</th>
	{% endif %}
    {% if request.user.get_profile in project.leaders.all %}
    <th></th>
    {% endif %}
      </tr>
</thead>
<tbody>
      {% for person in project.group.members.all %}
      <tr class="{% cycle row1,row2 %}">
	{% if user.is_authenticated %}
	<td><a href="{{ person.get_absolute_url }}">{{ person.username }}</a></td>
	{% endif %}
	<td>{{ person.get_full_name }}</td>
	{% if user.is_authenticated %}
	<td>{{ person.email|urlize }}</td>
<td>{% yes_no_img person.is_active %}</td>
	{% endif %}
	{% if request.user.get_profile in project.leaders.all %}
	<td><a class="deletelink" href="{% url 'kg_remove_project_member' project.pid person.username %}">Remove</a></td>
	{% endif %}
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
{% if project.get_latest_usage %}
<div class="module">
<h2>Last 5 cpu jobs</h2>
  {% gen_table project.get_latest_usage %}
</div>
{% endif %}

</div>{% endblock %}
