{% extends "main.html" %}
{% load karaage_tags %}

{% block title %}Users{% endblock %}

{% block content %}
<div id="content-main">

    <div class="module">
        <h2>Misc</h2>

        <div class="object-tools">
            <ul>
                <li><a href="{% url "kg_log_list" %}">View logs</a></li>
                <li><a href="{% url "kg_account_no_default" %}">People with no default project</a></li>
                <li><a href="{% url "kg_account_no_account" %}">People without Projects</a></li>
                <li><a href="{% url "kg_account_no_project" %}">Accounts without project</a></li>
                <li><a href="{% url "kg_account_wrong_default" %}">People with  bad default project</a></li>
                <li><a href="{% url "kg_person_locked" %}">People locked</a></li>
                <li><a href="{% url "kg_person_struggling" %}">People no usage yet</a></li>
                <li><a href="{% url "kg_empty_projects_list" %}">Projects with no users</a></li>
                {% for_each_app_include "misc.html" %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
 
