{% load filters %}
<table cellspacing="0">
	<thead>
		<tr>
			<th>Job ID</th>
			{% ifnotequal type "user" %}
			<th>User</th>
			{% if user.is_authenticated %}
			<th>Username</th>
			{% endif %}
			{% endifnotequal %}
			{% ifnotequal type "project" %}
			<th>Project</th>
			{% endifnotequal %}
			<th>Machine</th>
			<th>date</th>
			<th>queue</th>
			<th>cpu_usage</th>
			<th>cores</th>
			<th>vmem</th>
			<th>Time in Queue</th>
			<th>Estimated wall time</th>
			<th>Actual wall time</th>
			
		</tr>
	</thead>
	<tbody>
   	{% for u in object_list %}
	   	<tr class="{% cycle row1,row2 %}">
	   		<td>{{ u.jobid }}</td>
	   	{% ifnotequal type "user" %}
	   		<td><a href="{{ u.user.get_absolute_url }}">{{ u.user.user }}</a></td>
	   		{% if user.is_authenticated %}
	   		<td>{{ u.username }}</td>
	   		{% endif %}
	   		{% endifnotequal %}
	   		{% ifnotequal type "project" %}
	   		<td><a href="{{ u.project.get_absolute_url }}">{{ u.project.pid }}</a></td>
	   		{% endifnotequal %}
	   		<td><a href="{{ u.machine.get_absolute_url }}">{{ u.machine }}</a></td>
	   		<td>{{ u.date }}</td>
	   		<td>{{ u.queue }}</td>
	   		<td class="right">{{ u.cpu_usage|timeformat }}</td>
	   		<td class="right">{{ u.cores }}</td>
	   		<td class="right">{{ u.vmem|fileformat }}</td>
	   		<td class="right">{{ u.wait_time|timeformat }}</td>
	   		<td class="right">{{ u.est_wall_time|timeformat }}</td>
				<td class="right">{{ u.act_wall_time|timeformat }}</td>
	   	</tr>
	   {% endfor %}
   </tbody>  	
</table>
