{% extends "main.html" %}
{% load url from future %}

{% block title %}Usage{% endblock %}

{% block content_title %}{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url "kg_usage_list" %}">Usage</a>
 &rsaquo; Top Users
{% endblock %}

{% block content %}
{% load filters %}
{% load humanize %}
<div id="content-main">
<p>{% date_filter start end %}</p>
<div class="module">

{% for g in graph_list %}
	<img id="graph" src="{{ GRAPH_URL }}i_trends/{{ g }}" /><br/>
{% endfor %}

	</div>
</div>
{% endblock %}
