{% extends "main.html" %}

{% block title %}Usage{% endblock %}


    
{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› <a href="../../../?{{ querystring }}">Usage</a>
 › {{ institute }}
</div>{% endblock %}    

{% block content %}<p>{% load humanize %}
{% load filters %}
</p><div id="content-main">
<h1>{{ machine_category }}</h1>
<h2>Usage {{ start|date }} - {{ end|date }}</h2>
<p>{% date_filter start end %}</p>
<h1><a href="../?{{ querystring }}">{{ institute }}</a></h1>
{% if user_list %}
<div class="module">
<h2>Top {{ count }} users</h2>
<table>
<thead>
<tr>
<th></th>
<th>User</th>
<th>Project</th>
<th>CPU Time</th>
<th>No. Jobs</th>
<th>% of total</th>
</tr>
</thead>
<tbody>
   	{% for u in user_list|dictsortreversed:"usage" %}
			<tr class="{% cycle row1,row2 %}">
<td>{{ forloop.counter }}</td>
<td><a href="{{ u.user.get_absolute_url }}">{{ u.user }}</a></td>
<td><a href="{{ u.project.get_usage_url }}?{{ querystring }}">{{ u.project|truncatewords:"6" }}</a></td>
<td class="right">{{ u.usage|timeformat }}</td>
<td class="right">{{ u.jobs|intcomma }}</td>
<td class="right">{{ u.percent|floatformat:"2" }}%</td>
</tr> 
		{% endfor %}
		</tbody><tfoot>
<tr>
<td>Total</td>
<td></td>
<td></td>
<td class="right">{{ user_total|timeformat }}</td>
<td class="right">{{ user_total_jobs|intcomma }}</td>
<td class="right">{{ user_percent|floatformat:"2" }}%</td>
</tr>
</tfoot>
</table>
</div>
	{% endif %}
	
</div>{% endblock %}
