{% extends "main.html" %}
{% load url from future %}


{% block title %}Usage{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;›
    <a href="{% url 'kg_usage_list' %}">Usage</a>&nbsp;›
    <a href="{% url 'kg_mc_usage' machine_category.pk %}">{{ machine_category }}</a>&nbsp;›
    Institute Trends
</div>
{% endblock %}


{% block content %}<p>{% load filters %}
{% load humanize %}
</p><div id="content-main">
<p>{% date_filter start end %}</p>
<div class="module">

{% for g in graph_list %}
    <img id="graph" src="{{ g.graph_url }}"/><br/>
    <p><a href="{{ g.data_url }}">data</a></p>
{% endfor %}

	</div>
</div>{% endblock %}
