{% extends "main.html" %}
{% load url from future %}

{% block title %}Usage{% endblock %}



{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› <a href="{% url 'kg_usage_list' %}">Usage</a>
 › Top Users
</div>{% endblock %}

{% block content %}<p>{% load filters %}
{% load humanize %}
</p><div id="content-main">
<p>{% date_filter start end %}</p>
<div class="module">

{% for g in graph_list %}
	<img id="graph" src="{{ GRAPH_URL }}i_trends/{{ g }}"/><br/>
{% endfor %}

	</div>
</div>{% endblock %}
