{% extends "forms.html" %}
{% load url from future %}

{% block title %}Usage{% endblock %}



{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› <a href="../">Usage</a>
 › Usage Search
</div>{% endblock %}   

{% block content %}
{% load forms %}
{% load filters %}
<form method="post" action=".">{% csrf_token %}
<fieldset class="module aligned ()">
{% form_as_div form %}
</fieldset>

<div class="submit-row">
		<input type="submit" value="Go" class="default" />
	</div>
</form>

{% if project_list %}
<div class="module">
<h2>Projects Results</h2>
<table cellspacing="0">
	<thead>
		<tr>
			<th>Project</th>
			<th>CPU time</th>
			<th>No. jobs</th>		
		</tr>
	</thead>
	<tbody>
		{% for p in project_list|dictsortreversed:"time" %}
		<tr class="{% cycle row1,row2 %}">
			{% ifnotequal p.jobs 0 %}
				<td><a href="{{ p.get_usage_url }}?start={{ start_str }}&end={{ end_str }}">{{ p }}</a></td>
				<td class="right">{{ p.time|timeformat }}</td>
				<td class="right">{{ p.jobs }}</td>
			{% endifnotequal %}
		</tr>
		{% endfor %}	
	</tbody>
</table>
</div>
{% endif %}
{% if institute_list %}
<div class="module">
<h2>Institute Results</h2>
<table cellspacing="0">
	<thead>
		<tr>
			<th>Institute</th>
			<th>CPU time</th>
			<th>No. jobs</th>		
		</tr>
	</thead>
	<tbody>
		{% for i in institute_list|dictsortreversed:"time" %}
		<tr class="{% cycle row1,row2 %}">
			{% ifnotequal i.jobs 0 %}
				<td><a href="{% url 'kg_institute_usage' i.id %}?start={{ start_str }}&end={{ end_str }}">{{ i }}</a></td>
				<td class="right">{{ i.time|timeformat }}</td>
				<td class="right">{{ i.jobs }}</td>
			{% endifnotequal %}
		</tr>
		{% endfor %}	
	</tbody>
</table>
</div>
{% endif %}
{% endblock %}
