{% extends "main.html" %}
{% load url from future %}
{% load filters %}


{% block title %}Usage{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;›
    <a href="{% url 'kg_usage_list' %}">Usage</a>&nbsp;›
    Unknown Usage
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <div class="module">
        <h2>Unknown Usage {% if not showall %} ( in the past 365 days ) <a href="?showall=true"></a>Show all{% endif %}</h2>

        <form action="." method="post">{% csrf_token %}
            <table cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>User</th>
                        <th>Username</th>
                        <th>Project</th>
                        <th>Machine</th>
                        <th>date</th>
                        <th>queue</th>
                        <th>cpu_usage</th>
                        <th>mem</th>
                        <th>vmem</th>
                        <th>Time in Queue</th>
                        <th>Estimated wall time</th>
                        <th>Actual wall time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in usage_list %}
                    <tr class="{% cycle row1,row2 %}">
                        <td><input name="uid" type="checkbox" value="{{ u.id }}"/></td>
                        <td><a href="{{ u.account.person.get_absolute_url }}">{{ u.account.person }}</a></td>
                        <td>{{ u.username }}</td>
                        <td><a href="{{ u.project.get_absolute_url }}">{{ u.project }}</a></td>
                        <td><a href="{{ u.machine.get_absolute_url }}">{{ u.machine }}</a></td>
                        <td>{{ u.date }}</td>
                        <td>{{ u.queue }}</td>
                        <td>{{ u.cpu_usage|timeformat }}</td>
                        <td>{{ u.mem }}</td>
                        <td>{{ u.vmem }}</td>
                        <td>{{ u.wait_time|timeformat }}</td>
                        <td>{{ u.est_wall_time|timeformat }}</td>
                        <td>{{ u.act_wall_time|timeformat }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="form-row">
                <label for="id_project">Project:</label>
                <select class="vNullSelectField" id="id_project" name="project" size="1">
                    <option selected="selected" value="">---------</option>
                    {% for p in project_list %}
                    <option value="{{ p.pid }}">{{ p.pid }} | {{ p.name }}</option>
                    {% endfor %}
                </select>
                <label for="id_person inline">User:</label>
                <select class="vNullSelectField" id="id_person" name="person" size="1">
                    <option selected="selected" value="">---------</option>
                    {% for p in person_list %}
                    <option value="{{ p.id }}">{{ p }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="submit-row">
                <input class="default" type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
