{% extends "main.html" %}

{% block content %}

<h1>Project Request</h1>

<p>{{ user_request.person }} is requesting to start a new project <b>{{ project.name }}</b></p>

<p>Please <a href="{% url user_approve_project project_request.id %}">
<img src="{{ MEDIA_URL }}img/admin/icon-yes.gif" alt="Approve"/>&nbsp;Accept</a> or 
<a href="{% url user_reject_project project_request.id %}">
<img src="{{ MEDIA_URL }}img/admin/icon-no.gif" alt="Reject"/>&nbsp;Decline</a> this request</p>

<h1>Project Details</h1>
<table>
		<tr><td>ID:</td><td>{{ project.pid }}</td></tr>
		<tr><td>Name:</td><td>{{ project.name }}</td></tr>
   	<tr><td>Institiute:</td><td>{{ project.institute }}</td></tr>
   	<tr><td>Description:</td><td>{{ project.description }}</td></tr>
   	<tr><td>Additional Req:</td><td>{{ project.additional_req }}</td></tr>	
		<tr><td>Expertise:</td><td>{% yes_no_img project.is_expertise %}</td></tr>
		</table>	

<h1>{{ person }}'s Details</h1>

{% include "users/user_detail_table.html" %}
		
{% if person.leader.all %}
	<div class="module">
	<h2>Projects I lead</h2>
	{% gen_table person.leader.all %}
	</div>
	{% endif %}	
	
	
	{% for ua in person.useraccount_set.all %}
	<div class="module">
	<h2>{{ ua.machine_category }} Account</h2>
<h3>Account</h3>
		<table cellspacing="0">
	<thead>
		<tr>
			<th>Active</th>
			<th>Username</th>
			<th>Date Created</th>
			<th>Date Deleted</th>
		</tr>
	</thead>   	
   <tbody>
	   	<tr class="row1">
	   		<td>{% yes_no_img ua.date_deleted %}</td>
	   		<td><a href="{{ ua.get_absolute_url }}">{{ ua.username }}</a></td>
	   		<td>{{ ua.date_created|date }}</td>
	   		<td>{{ ua.date_deleted|date|default:"" }}</td>
	   	</tr>
   </tbody>  	
</table>
{% if ua.project_list %}
<h3>Projects</h3>
		<table cellspacing="0">
		<thead>
		<tr>
			<th>Project</th>
			<th>Name</th>
			<th>Institute</th>
			<th>Leader</th>
			<th>Default</th>
		</tr>
		</thead>   	
   	<tbody>
   	{% for p in ua.project_list %}
	   	<tr class="row1">
	   		<td><a href="{{ p.get_absolute_url }}">{{ p.pid }}</a></td>
	   		<td>{{ p.name|truncatewords:"10" }}</td>
	   		<td>{{ p.institute }}</td>
	   		<td><a href="{{ p.leader.get_absolute_url }}">{{ p.leader }}</a></td>
	   		<td>{% ifequal p ua.default_project %}
	   		<img src="{{ MEDIA_URL }}img/admin/icon-yes.gif" alt="1" />{% else %}
	   		{% endifequal %}</td>		
	   	</tr>
	   {% endfor %}
   	</tbody>  	
		</table>	
		{% endif %}
	</div>
	{% endfor %}
{% endblock %}