{% extends "forms.html" %}

{% block title %}Software{% endblock %}

{% block content_title %}{% if m %}Edit{% else %}Create{% endif %} Software Package{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url ac_software_list %}">Software</a>
 &rsaquo; {% if m %}Edit{% else %}Create{% endif %} Software Package
{% endblock %}   

{% block content %}
<form method="post" action=".">
{% load forms %}
{{ form.non_field_errors }}
<fieldset class="module aligned ()">
{% inlineformfield form.name form.category %}
{% formfield form.description %}
{% formfield form.academic_only %}
{% formfield form.gid %}
{% inlineformfield form.homepage form.tutorial_url %}
</fieldset>
<fieldset class="module aligned ()">
<h2>Version Info</h2>
{% inlineformfield form.version form.module %}
{% formfield form.machines %}
</fieldset>
<fieldset class="module aligned ()">
<h2>License Info</h2>
{% inlineformfield form.license_version form.license_date %}
{% formfield form.license_text  %}
</fieldset>

<div class="submit-row">
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}
