{% extends "forms.html" %}

{% block title %}Software{% endblock %}

{% block content_title %}{% if v %}Edit{% else %}Create{% endif %} Software Version{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url ac_software_list %}">Software</a>
 &rsaquo; {% if v %}Edit{% else %}Create{% endif %} Software Version
{% endblock %}   

{% block content %}
<form method="post" action=".">
{% load forms %}
<fieldset class="module aligned ()">
<input type="hidden" name="package" value="{{ package.id }}" />
{% formfield form.version %}
{% formfield form.module %}
{% formfield form.machines %}
</fieldset>

<div class="submit-row">
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}
