{% extends "changelist.html" %}

{% block breadcrumbs %}
{{ block.super }} 
 &rsaquo; <a href="../">Stats</a>
 &rsaquo; Users per institute
{% endblock %}    

{% block content %}
<div class="module" id="changelist">
	<table>
		<thead>
			<tr>
				<th>Institute</th>
				<th>Active users</th>
				<th>Locked users</th>
				<th>Projects</th>
			</tr>		
		</thead>
		<tfoot>
			<tr>
				<td>Total</td>
				<td>{{ total_active_users }}</td>
				<td>{{ total_locked_users }}</td>
			</tr>		
		</tfoot>
		<tbody>
			{% for i in i_list %}
			<tr class="{% cycle row1,row2 %}">
				<td><a href="{{ i.institute.get_absolute_url }}">{{ i.institute }}</a></td>
				<td>{{ i.active }}</td>
				<td>{{ i.locked }}</td>
				<td>{{ i.projects }}</td>
   		</tr>
   		{% endfor %}
   	</tbody>
	</table>
	

</div>
{% endblock %}