{% extends "main.html" %}

{% block content_title %}Account Request{% endblock %}
{% block content %}

<p>Thanks {{ person.first_name }} for your account request to join the project - <b>{{ project.name }}</b>.</p>

<p>{{ project.leader }} has been emailed about the request. Now we're just waiting 
for {{ project.leader.first_name }}'s authorisation, before you can join the project.</p>

<p>You can contact {{ project.leader }} by:<br />
	<ul>
		{% if project.leader.email %}<li>Email: {{ project.leader.email|urlize }}</li>{% endif %}
		{% if project.leader.telephone %}<li>Phone: {{ project.leader.telephone }}</li>{% endif %}
	</ul>
</p>
{% endblock %}