{% extends "forms.html" %}

{% block style %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms_custom.css"/>{% endblock %}

{% block title %}Users{% endblock %}

{% block content_title %}{% if user %}Edit{% else %}Create{% endif %} User{% endblock %}

{% block content %}
<form method="post" action=".">
<div>
{% load forms %}
{% if form.errors  or form.non_field_errors %}
	<p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
<fieldset class="module aligned ()">
<h2>Personal Details</h2>
{% if user %}
<div class="form-row" >
<label class="required">Username:</label> {{ person.username }}
</div>
{% endif %}
{% formfield form.title %}
{% inlineformfield form.first_name form.last_name %}
{% inlineformfield form.department form.position %}
{% formfield form.email %}
{% inlineformfield form.telephone form.mobile %}
{% inlineformfield form.fax form.website %}
{% formfield form.address %}
{% formfield form.country %}
{% if not user %}
{% formfield form.username %}
{% formfield form.password1 %}
{% formfield form.password2 %}
{% endif %}
</fieldset>
{{ form.non_field_errors }}
{% if not user %}
<fieldset class="module aligned ()">
<h2>User Account details</h2>
{% formfield form.needs_account %}
{% formfield form.project %}
{% formfield form.machine_category %}
</fieldset>
{% else %}
<input type="hidden" name="username" value="foobarfoobarfoobarfoobar88" />
<input type="hidden" name="password1" value="foobarfoobarfoobarfoobar88" />
<input type="hidden" name="password2" value="foobarfoobarfoobarfoobar88" />
<input type="hidden" name="institute" value="{{ person.institute.id }}" />
{% endif %}

</div>
<div class="submit-row">
		
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}