<table cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Delegate</th>
      <th>Active Delegate</th>
    </tr>
  </thead>   	
  <tbody>
    {% for i in object_list %}
    <tr class="{% cycle row1,row2 %}">
      <td><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></td>
      <td><a href="{{ i.delegate.get_absolute_url }}">{{ i.delegate }}</a></td>
      <td><a href="{{ i.active_delegate.get_absolute_url }}">{{ i.active_delegate }}</a></td>
      {% endfor %}
  </tbody>  	
</table>
