<table cellspacing="0">
	<thead>
	    <caption><h2>Account applications</h2></caption>
		<tr>
		    <th>Applicant</th>
			<th>Username</th>
			<th>email</th>
			<th>Institute</th>
			<th>Project</th>
			<th>Needs Cluster Account</th>
			<th>Accept</th>
			<th>Decline</th>
		</tr>
	</thead>
    <tbody>
    {% for app in object_list %}
	   	<tr class="{% cycle row1,row2 %}">
	   	    <td>{{ app.applicant }}</td>
	   	    <td>{{ app.applicant.username }}</td>
	   	    <td>{{ app.applicant.email|urlize }}</td>
	   	    <td><a href="{{ app.applicant.institute.get_absolute_url }}">{{ app.applicant.institute }}</a></td>
	   	    <td>{% if app.project %}{{ app.project.pid }}{% endif %}</td>
	   	    <td>{% yes_no_img app.applicant.need_account %}</td>
            <td><a href="{% url kg_userapplication_approve app.id %}" class="yeslink">&nbsp;Accept</a></td>
            <td><a href="{% url kg_userapplication_decline app.id %}" class="nolink">&nbsp;Decline</a></td>
	   	</tr>
	{% endfor %}
    </tbody>  	
</table>

