{% extends "main.html" %}

{% block title %}Applications{% endblock %}
{% block content %}

<h1>{{ application.applicant }}'s Request</h1>

<p>{{ application.applicant }} has requested to join the project <b>{{ application.project }}</b></p>

<p>Please 
<a href="{% url kg_userapplication_approve application.id %}" class="yeslink">&nbsp;Accept</a> or
<a href="{% url kg_userapplication_decline application.id %}" class="nolink">&nbsp;Decline</a> this request</p>

{% if application.needs_account %}
<p>A computer account on the {{ org_name }} clusters will be made for {{ application.applicant }} if he does not already have one.</p>
{% endif %}
<h1>{{ person }} Details</h1>
   	<table>
   		<tr><td>Username:</td><td>{{ application.applicant.username }}</td></tr>
   		<tr><td>Email:</td><td>{{ application.applicant.email|urlize }}</td></tr>
   		<tr><td>Position:</td><td>{{ application.applicant.position|default:"" }}</td></tr>
   		<tr><td>Institute:</td><td><a href="{{ application.applicant.institute.get_absolute_url }}">{{ application.applicant.institute }}</a></td></tr>		
   		<tr><td>Phone:</td><td>{{ application.applicant.telephone|default:"" }}</td></tr>
   		<tr><td>Mobile:</td><td>{{ application.applicant.mobile|default:"" }}</td></tr>
   		<tr><td>Department:</td><td>{{ application.applicant.department|default:"" }}</td></tr>
   		<tr><td>Supervisor:</td><td>{{ application.applicant.supervisor|default:"" }}</td></tr>
   		<tr><td>Address:</td><td>{{ application.applicant.address|default:"" }}</td></tr>
   		<tr><td>Fax:</td><td>{{ application.applicant.fax }}</td></tr>
   		<tr><td>City:</td><td>{{ application.applicant.city|default:"" }}</td></tr>
   		<tr><td>State:</td><td>{{ application.applicant.get_state_display|default:"" }}</td></tr>
   		<tr><td>Postcode:</td><td>{{ application.applicant.postcode|default:"" }}</td></tr>
   		<tr><td>Country:</td><td>{{ application.applicant.get_country_display|default:"" }}</td></tr>
		
	</table>

{% endblock %}


