{% extends "threecol.html" %}
{% load url from future %}
{% load comments %}

{% block title %}Applications{% endblock %}

{% block bread_crumbs_1 %}
&rsaquo; <a href="{% url 'kg_application_list' %}">Applications</a>
&rsaquo; {{ application }}
{% endblock %}

{% block content %}
<div id="content-related-extra">
	<div class="module">
	<h2>Tasks</h2>
      
	<ul class="plainlist">
		<li>&nbsp;</li>
		<li><a href="{% url 'kg_application_logs' application.id %}">Logs</a><br /><br /></li>
		{% if application.state == 'C' %}
		<li><a href="{% url 'kg_application_archive' application.id %}" class="changelink">Archive application</a><br /><br /></li>
		{% endif %}
		<li><a href="{% url 'kg_application_delete' application.id %}" class="deletelink">Delete application</a><br /><br /></li>
			
	</ul>
	</div>
</div>
<div>
<h1>Application Details</h1>
    <table>
    <tr><td>Application State:</td><td>{{ application.get_state_display }}</td></tr>
    <tr><td>Created by:</td><td>{{ application.created_by|default:"Applicant" }}</td></tr>
    <tr><td>Secret token:</td><td>{{ application.secret_token }}</td></tr>
    <tr><td>Expires:</td><td>{{ application.expires }}</td></tr>
    <tr><td>Submitted on:</td><td>{{ application.submitted_date }}</td></tr>
    {% if application.complete_date %}<tr><td>Completed on:</td><td>{{ application.complete_date }}</td></tr>{% endif %}
    {% if application.message %}<tr><td>Message:</td><td>{{ application.message }}</td></tr>{% endif %}
    </table>
<br />
</div>
<div>
{% block application_detail %}{% endblock %}
</div>
<div>
{% get_comment_count for application.application_ptr as comment_count %}
<h2>Comments ({{ comment_count }})</h2>
{% render_comment_list for application.application_ptr %}

<h3>Add comment</h3>
{% get_comment_form for application.application_ptr as form %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  {{ form.content_type }}
  {{ form.object_pk }}
  {{ form.timestamp }}
  {{ form.security_hash }}
  {{ form.comment }}
  <input type="hidden" name="next" value="{% url 'kg_application_detail' application.id %}" />
  <p style="display:none;">{{ form.honeypot }}</p>
  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="Post" />
  </p>

</form>
</div>
{% endblock %}
