{% extends "forms.html" %}
{% load url from future %}

{% block title %}Applications{% endblock %}

{% block content_title %}Edit Applicant{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url "kg_application_list" %}">Applications</a>
 &rsaquo; Edit Applicant
{% endblock %}   

{% block content %}
<form method="post" action=".">{% csrf_token %}
{% load forms %}
<fieldset class="module aligned ()">
{% form_as_div form %}
</fieldset>

<div class="submit-row">
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}
