{% extends "main.html" %}
{% load url from future %}
{% load paginator %}


{% block title %}Applications{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    Applications
</div>
{% endblock %}


{% block content %}
<div id="content-main">

    {% if my_applications %}
    <div class="module">
        <h2>My applications</h2>
        {% gen_table my_applications %}
    </div>
    {% endif %}

    {% if requires_attention %}
    <div class="module">
        <h2>Requires Attention</h2>
        {% gen_table requires_attention %}
    </div>
    {% endif %}

    {% if not my_applications and not requires_attention %}
    <h3>You currently have no pending applications.</h3>
    {% endif %}

</div>
{% endblock %}
