{% extends "forms.html" %}

{% block style %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/forms_custom.css"/>{% endblock %}

{% block content %}
<h1>{% if user.is_anonymous %}Step 2 - {% endif %}Choose Project</h1>
<h2>Search for your project leader or the ID of the project</h2>
<form method="get" action=".">
<div>
{% if term_error %}
<ul class="errorlist">
<li>{{ term_error }}</li>
</ul>
{% endif %}
<label for="id_name" class="required">Project Leader/Project ID:</label> <input type="text" name="leader_q" id="id_name" value="{{ terms }}" />

<input type="submit" value="Search" />
</div>
</form>
<br/>
<div>
{% if leader_list %}
<p>Please select your project leader from the list below:</p>
<ul>
{% for u in leader_list %}
	<li><a href="./?leader={{ u.id }}">{{ u }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if project_error %}
<ul class="errorlist">
<li>You must select a project</li>
</ul>
{% endif %}
{% if project_list or project or q_project %}
<form method="post" action="./?{{ qs }}">{% csrf_token %}
{% if project_list %}
<p>{{ project_list.count }} projects led by <b>{{ leader }}</b>. Please select one from the list below:</p>
	<table cellspacing="0">
{% for p in project_list %}
	<tr>
		<td><input type="radio" id="id_project" name="project" value="{{ p.pid }}"/></td>
		<td>{{ p.pid }}</td>
		<td>{{ p.name }}</td>
	</tr>
{% endfor %}
	</table>
{% endif %}
{% if q_project %}
<p>Found one project by ID</p>
<table cellspacing="0">
	<tr>
		<td><input type="radio" id="id_project" name="project" value="{{ q_project.pid }}" /></td>
		<td>{{ q_project.pid }}</td>
		<td>{{ q_project.name }}</td>
	</tr>
	</table>
	{#<input type="hidden" id="id_project" name="project" value="{{ q_project.pid }}" />#}
{% endif %}
{% if project %}
<p>One project led by <b>{{ leader }}</b></p>
<table cellspacing="0">
	<tr>
		<td><input type="radio" id="id_project" name="project" value="{{ project.pid }}" /></td>
		<td>{{ project.pid }}</td>
		<td>{{ project.name }}</td>
	</tr>
	</table>
{% endif %}
<br />
<div class="submit-row">
	{% if user.is_authenticated %}
	<a href="{% url kg_user_profile %}" class="deletelink float-left">Cancel request</a>
	{% else %}
	<a href="/" class="deletelink float-left">Cancel request</a>
	{% endif %}
	<input type="submit" value="Submit" class="default" />
</div>
</form>
{% else %}
<br />
<div class="submit-row">
	{% if user.is_authenticated %}
	<a href="{% url kg_user_profile %}" class="deletelink float-left">Cancel request</a>
	{% else %}
	<a href="{% url kg_application_cancel application.secret_token %}" class="deletelink float-left">Cancel request</a>
	{% endif %}
	<br/>
</div>
{% endif %}
</div>

{% endblock %}
