{% extends "forms.html" %}
{% load forms %}
{% load applications %}


{% block title %}Approve Application{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_application_list' %}">Applications</a>&nbsp;›
    <a href='{% url 'kg_application_detail' application.pk %}'>{{ application }}</a>&nbsp;›
    Approve
</div>
{% endblock %}


{% block content %}
<p>The following request is awaiting for {{ authorised_text }} to approve it:</p>
<div class="module">
    <h2>Applicant Details</h2>
    <table>
        <tr><td>Short name:</td><td>{{ application.applicant.get_short_name }}</td></tr>
        <tr><td>Full name:</td><td>{{ application.applicant.get_full_name }}</td></tr>
        <tr><td>Institute:</td><td>{{ application.applicant.institute }}</td></tr>
        <tr><td>Username:</td><td>{{ application.applicant.username }}</td></tr>
        <tr><td>Email:</td><td>{{ application.applicant.email|urlize }}</td></tr>
    </table>
</div>

{% if application.content_type.model == 'applicant' %}
<div class="module">
    <form method="post" action=".">{% csrf_token %}
        <h2>Similar People</h2>
        <p>Please check that the applicant isn't an existing user.</p>
        {% gen_table application.applicant.similar_people %}
        {% if 'duplicate' in actions %}
        <input type="submit" name="duplicate" value="Is existing user" class="button" />
        {% endif %}
    </form>
</div>
{% endif %}

{% application_request application %}

<div class="module">
    <h2>Confirm</h2>
    <p>{{ application.applicant }} will receive an email once their application has been processed.</p>
    <br />
    {% if form.fields %}
    <p>Please amend the following to suit.</p>
    {% endif %}

    <form method="post" action=".">{% csrf_token %}
        <div>
            {% load forms %}
            {% if form.errors or form.non_field_errors %}
            <p class="errornote">Please correct the error(s) below.</p>
            {% endif %}

            <fieldset class="module aligned ()">
                {{ form.non_field_errors }}
                {% form_as_div form %}
            </fieldset>
        </div>

        {% application_actions_plus %}
        <a href="{% url 'kg_application_detail' application.id application.state 'decline' %}" class="deletelink float-left">Decline</a>
        {% end_application_actions %}
    </form>
</div>
{% endblock %}
