{% extends "main.html" %}
{% load url from future %}
{% load applications %}


{% block title %}Application{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_application_list' %}">Applications</a>&nbsp;›
    {{ application }}
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <h1>{{ application.applicant }}'s Request</h1>
    <p>{{ application.applicant }} has requested to <b>{{ application.info }}</b></p>

    <div class="module">
        <h2>Current Status</h2>

        <p>Application process:</p>
        {% application_state application %}

        {% if auth.can_approve %}
        <p>As you are {{ authorised_text }}, please Approve or Decline this request.</p>
        {% endif %}

        {% if auth.can_approve or is_admin %}
        <div class="object-tools">
            <ul>
                {% if auth.can_approve %}
                <li><a href="{% url 'kg_application_detail' application.id application.state 'approve' %}" class="yeslink">Approve</a></li>
                <li><a href="{% url 'kg_application_detail' application.id application.state 'decline' %}" class="nolink">Decline</a></li>
                {% endif %}
                {% if is_admin %}
                <li><a href="{% url 'kg_application_logs' application.pk %}">Logs</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="module">
        <h2>Application Details</h2>
        <table>
            {% if is_admin %}
            <tr><td>Secret Token:</td><td>{{ application.secret_token }}</td></tr>
            {% endif %}
            <tr><td>Expires:</td><td>{{ application.expires }}</td></tr>
            <tr><td>Created by:</td><td>{{ application.created_by }}</td></tr>
            <tr><td>Created date:</td><td>{{ application.created_date }}</td></tr>
            <tr><td>Submitted date:</td><td>{{ application.submitted_date }}</td></tr>
            <tr><td>Complete date:</td><td>{{ application.complete_date }}</td></tr>
        </table>
    </div>

    <div class="module">
        <h2>Applicant Details</h2>
        <table>
            {% if application.content_type.model == 'applicant' %}
            <tr><td>Applicant type</td><td>New applicant {% if is_admin %}<a href="{% url 'kg_applicant_edit' application.applicant.pk %}">[edit]</a>{% endif %}</td>
            <tr><td>Username:</td><td>{{ application.applicant.username }}</td></tr>
            {% elif application.content_type.model == 'person' %}
            <tr><td>Applicant type</td><td>Existing person</td>
            <tr><td>Username:</td><td><a href="{% url 'kg_person_detail' application.applicant.username %}">{{ application.applicant.username }}</a></td></tr>
            {% else %}
            <tr><td>Applicant type</td><td>Unknown {{ application.content_type.model }}</td>
            <tr><td>Username:</td><td>{{ application.applicant.username }}</td></tr>
            {% endif %}

            <tr><td>Short name:</td><td>{{ application.applicant.get_short_name }}</td></tr>
            <tr><td>Full name:</td><td>{{ application.applicant.get_full_name }}</td></tr>
            <tr><td>Email:</td><td>{{ application.applicant.email|urlize }}</td></tr>
            <tr><td>Institute:</td><td>{% if application.applicant.institute %}<a href="{{ application.applicant.institute.get_absolute_url }}">{{ application.applicant.institute }}</a>{% else %}None{% endif %}</td></tr>
            {% if application.applicant.position %}<tr><td>Position:</td><td>{{ application.applicant.position }}</td></tr>{% endif %}
            {% if application.applicant.telephone %}<tr><td>Phone:</td><td>{{ application.applicant.telephone }}</td></tr>{% endif %}
            {% if application.applicant.mobile %}<tr><td>Mobile:</td><td>{{ application.applicant.mobile }}</td></tr>{% endif %}
            {% if application.applicant.department %}<tr><td>Department:</td><td>{{ application.applicant.department }}</td></tr>{% endif %}
            {% if application.applicant.supervisor %}<tr><td>Supervisor:</td><td>{{ application.applicant.supervisor }}</td></tr>{% endif %}
            {% if application.applicant.fax %}<tr><td>Fax:</td><td>{{ application.applicant.fax }}</td></tr>{% endif %}
        </table>
    </div>

    {% if application.content_type.model == 'applicant' %}
    <div class="module">
        <form method="post" action=".">{% csrf_token %}
            <h2>Similar People</h2>
            <p>Please check that the applicant isn't an existing user.</p>
            {% gen_table application.applicant.similar_people %}
            {% if 'duplicate' in actions %}
            <input type="submit" name="duplicate" value="Is existing user" class="button" />
            {% endif %}
        </form>
    </div>
    {% endif %}

    {% application_request application %}

    {% if is_admin %}
    <div class="module">
        <h2>Comments</h2>
        {% comments application.application_ptr %}
        {% if is_admin %}
        <div class="object-tools">
            <ul>
                <li><a href="{% url 'kg_application_add_comment' application.pk %}" class="addlink">Add comment</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <form method="post" action=".">{% csrf_token %}
        {% application_actions %}
    </form>
</div>
{% endblock %}
