{% extends "forms.html" %}

{% block title %}Applications{% endblock %}



{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› User Application

</div>{% endblock %}   

{% block content %}
<p>Hi {{ application.applicant.first_name }}, looks like we already have your details on record.</p>
<p>To finish your application all you need to do is submit this form.</p>

<form method="post" action=".">{% csrf_token %}

<div class="submit-row">
		<input type="submit" value="Submit" class="default" />
	</div>
</form>
{% endblock %}
