{% extends "threecol.html" %}
{% load common %}
{% block title %}Home{% endblock %}

{% block content_title %}Apply for an Account{% endblock %}

{% block breadcrumbs %}Home{% endblock %}
    
{% block content %}
<div id="content-main">

<p class="errornote">This is an example template. You should create your own in /etc/karaage/templates/applications/index.html</p>

{% if user.is_authenticated %}
<p>You already have an account! Why do you want another one?</p>
{% else %}

<h3>Join an existing project</h3>
<p>All accounts must be associated with a registered Project.</p>
<p>To join an existing project, fill in the <a href="{% url kg_new_userapplication %}">Account Form</a>.<p>

<h3>Contact</h3>

<p>Contact {{ accounts_email }} for further information.</p>
{% endif %}
	
</div>
{% endblock %}
