{% extends "forms.html" %}
{% load url from future %}
{% load forms %}
{% block title %}Applications{% endblock %}

{% block content_title %}Send User Application Invite to join {{ project.pid }}{% endblock %}

{% block bread_crumbs_1 %}
 {#&rsaquo; <a href="{% url 'kg_application_list' %}">Applications</a>#}
 &rsaquo; Send User Application Invite
{% endblock %}   

{% block content %}
<p>NOTE: If the email exists in our system the user will be added directly to your project.</p>
<form method="post" action=".">{% csrf_token %}
<div>
{% if form.errors or form.non_field_errors %}
	<p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
<fieldset class="module aligned ()">
{{ form.non_field_errors }}
<h2>Application Details</h2>
{% formfield form.email %}
{% formfield form.make_leader %}
{% formfield form.header_message %}
</fieldset>

</div>
<div class="submit-row">
		
		<input type="submit" value="Invite" class="default" />
	</div>
</form>
{% endblock %}
