{% extends "changelist.html" %}
{% load paginator %}
{% block title %}Applications{% endblock %}

{% block breadcrumbs %}{{ block.super }} &rsaquo; Applications{% endblock %}

{% block content %}
<div class="module  {% if filter_bar %}filtered{% endif %}" id="changelist">
  {% if filter_bar %}
  <div id="changelist-filter">
    <h2>Filter</h2> 					
    {{ filter_bar|safe }}	
  </div>
  {% endif %}
  {% if page.object_list %}
  <h2>User applications</h2>
  <table cellspacing="0">
	<thead>
		<tr>
			<th>Applicant</th>
			<th>Project</th>
			<th>Leader</th>
			<th>Cluster Account</th>
			<th>State</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
    <tbody>
    {% for app in page.object_list %}
	   	<tr class="{% cycle row1,row2 %}">
	   	    <td>{{ app.applicant }}</td>
	   	    <td>{{ app.project.pid }}</td>
	   	    <td>{% yes_no_img app.make_leader %}</td>
	   	    <td>{% yes_no_img app.needs_account %}</td>
	   	    <td>{{ app.get_state_display }}</td>
	   	    {% if app.state == "L" %}
            <td><a href="{% url kg_userapplication_approve app.id %}" class="yeslink">&nbsp;Accept</a></td>
            <td><a href="{% url kg_userapplication_decline app.id %}" class="nolink">&nbsp;Decline</a></td>
            {% else %}
            <td></td>
            <td></td>
            {% endif %}
	   	</tr>
	{% endfor %}
    </tbody>  	
</table>
  {% pagination page request %}
{% endif %}
  {% if projects_page.object_list %}
  <h2>Project applications</h2>
  <table cellspacing="0">
	<thead>
		<tr>
			<th>Applicant</th>
			<th>Cluster Account</th>
			<th>State</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
    <tbody>
    {% for app in projects_page.object_list %}
	   	<tr class="{% cycle row1,row2 %}">
	   	    <td>{{ app.applicant }}</td>
	   	    <td>{% yes_no_img app.needs_account %}</td>
	   	    <td>{{ app.get_state_display }}</td>
	   	    {% if app.state == "D" %}
            <td><a href="{% url kg_userapplication_approve app.id %}" class="yeslink">&nbsp;Accept</a></td>
            <td><a href="{% url kg_userapplication_decline app.id %}" class="nolink">&nbsp;Decline</a></td>
            {% else %}
            <td></td>
            <td></td>
            {% endif %}
	   	</tr>
	{% endfor %}
    </tbody>  	
</table>
  {% pagination projects_page request %}
{% endif %}
{% if not projects_page.object_list and not page.object_list %}
<h3>You currently have no pending applications.</h3>
{% endif %}
</div>
{% endblock %}
