{% extends "forms.html" %}

{% block title %}Applications{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/forms_custom.css"/>{% endblock %}


{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› Project Application
</div>{% endblock %}   

{% block content %}
{% if saml %}
<p>Hi {{ saml_user.first_name }}, we have received needed personal information from your identity provider.</p>
{% endif %}
<form method="post" action=".">{% csrf_token %}
<div>
{% load forms %}
{% if form.errors or form.non_field_errors or applicant_form.errors or applicant_form.non_field_errors %}
	<p class="errornote">Please correct the error(s) below.</p>
{% endif %}
{% if application.header_message %}{{ application.header_message|linebreaks }}{% endif %}
<fieldset class="module aligned ()">
{{ form.non_field_errors }}
{% if applicant_form.errors.email and saml %}{{ applicant_form.errors.email }}{% endif %}
<h2>Account Details</h2>
<p>This will be used to manage your project and also for your cluster account if you choose to have one.</p>
{% formfield applicant_form.username %}
{% formfield applicant_form.password1 %}
{% formfield applicant_form.password2 %}
{% formfield form.needs_account %}
{% formfield form.aup %}
</fieldset>
{% if not saml %}
<fieldset class="module aligned ()">
<h2>Personal Details</h2>
{% formfield applicant_form.email %}
{% formfield applicant_form.title %}
{% inlineformfield applicant_form.first_name applicant_form.last_name %}
{% inlineformfield applicant_form.institute applicant_form.department %}
{% inlineformfield applicant_form.telephone applicant_form.mobile %}
</fieldset>
{% endif %}
<fieldset class="module aligned ()">
<h2>Project Details</h2>
{% formfield form.name %}
{% formfield form.institute %}
{% formfield form.description %}
{% formfield form.additional_req %}
</fieldset>
{% if form.captcha %}
<fieldset class="module aligned ()">
{% formfield form.captcha %}
</fieldset>
{% endif %}
</div>
<div class="submit-row">
		<input type="submit" value="Submit" class="default" />
	</div>
</form>
{% endblock %}
