{% extends "forms.html" %}

{% block title %}Applications{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/forms_custom.css"/>{% endblock %}


{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› Project Application
</div>{% endblock %}   

{% block content %}
<form method="post" action=".">{% csrf_token %}
<div>
{% load forms %}
{% if form.errors or form.non_field_errors or applicant_form.errors or applicant_form.non_field_errors %}
	<p class="errornote">Please correct the error(s) below.</p>
{% endif %}
{% if application.header_message %}{{ application.header_message|linebreaks }}{% endif %}

{{ form.non_field_errors }}

<fieldset class="module aligned ()">
<h2>Project Details</h2>
{% formfield form.name %}
{% formfield form.institute %}
{% formfield form.description %}
{% formfield form.additional_req %}
{% formfield form.needs_account %}
{% formfield form.aup %}
</fieldset>
</div>
<div class="submit-row">
		<input type="submit" value="Submit" class="default" />
	</div>
</form>
{% endblock %}
