{% extends "forms.html" %}
{% load forms %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js" ></script> 
<script type="text/javascript">
function showForm() {
  $("#show-email").hide("fast");
  $("#form-body").show("slow");
}
</script> 
{% endblock %}

{% block content %}
    <h1>Are you sure?</h1>    
    <p>Are you sure you want to decline {{ application.applicant }}'s project application? </p>
<p>An email will be sent to {{ application.applicant.first_name }}. <a id="show-email" href="#" onclick="showForm()">Customise email</a></p>
    
<form method="post" action=".">{% csrf_token %}
<div id="form-body" style="display: none">
{% if form.errors or form.non_field_errors %}
	<p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
<fieldset class="module aligned ()">
{{ form.non_field_errors }}
<h2>Send email</h2>
{% form_as_div form %}
</fieldset>

</div>
<div class="submit-row">
		
		<input type="submit" value="Decline and notify" class="default" />
	</div>
</form>   
{% endblock %}