{% extends "forms.html" %}

{% block title %}Applications{% endblock %}
{% block content %}

<p>Thanks {{ application.applicant.first_name }} for your new project application.</p>

<p>{{ application.institute }}'s
delegate{{ application.institute.delegates.all|pluralize }}
ha{{ application.institute.delegates.all|pluralize:"s,ve" }}
been emailed about this application. Now we're just waiting for their authorisation.</p>

{% if not is_existing_person %}
<p>When your application is approved, you will be sent an email allowing you to
set your password. This password will be used for logging on to this website
and for accessing the cluster services.</p>
{% else %}
<p>You will receive an email once your request has been approved.</p>
{% endif %}

<p>Delegate{{ application.institute.delegates.all|pluralize }} contact details:<br />
	{% for delegate in application.institute.delegates.all %}
        <ul>
        			<li>{{ delegate.get_full_name }}</li>
                {% if delegate.email %}<li>Email: {{ delegate.email|urlize }}</li>{% endif %}
                {% if delegate.telephone %}<li>Phone: {{ delegate.telephone }}</li>{% endif %}
        </ul>
     {% endfor %}
</p>

{% endblock %}


