<div class="module">
    <h2>Software License Details</h2>
    <table>
        {% if karaage_site == 'admin' %}
        <tr>
            <td>Software:</td>
            <td><a href="{% url 'kg_software_detail' application.software_license.software.pk %}">{{ application.software_license.software }}</a></td>
        </tr>
        {% else %}
        <tr><td>Software:</td><td>{{ application.software_license.software }}</td></tr>
        {% endif %}
        <tr><td>Version:</td><td>{{ application.software_license.version }}</td></tr>
        <tr><td>Text:</td><td>{{ application.software_license.text|linebreaks }}</td></tr>
    </table>
</div>
