{% extends "forms-side.html" %}
{% load common forms %}
{% block title %}Home{% endblock %}



{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;Home</div>{% endblock %}
    
{% block content %}<div id="content-main">
<p class="errornote">This is an example template. You should create your own in /etc/karaage/templates/applications/index.html</p>



{% if user.is_authenticated %}
<p>You already have an account! Why do you want another one?</p>
{% else %}
<p>Please choose your institute below to kick off the application process</p>
<form action="." method="post">{% csrf_token %}
{% form_as_div form %}
<input class="default" type="submit" value="Start Application"/>
</form>
<h3>Contact</h3>
<p>Please contact {{ accounts_email }} for further information.</p>
{% endif %}
	
</div>{% endblock %}
