{% extends "forms.html" %}
{% load forms %}
{% load applications %}


{% block title %}Application Password{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;›
    Application&nbsp;›
    Password
</div>
{% endblock %}


{% block content %}
<h1>4. Set password</h1>

<form method="post" action=".">{% csrf_token %}
    {% if type == 'set' %}
    <p>Please enter your new password.</p>
    {% else %}
    <p>Please confirm your existing password so we can set your password on your new accounts.</p>
    {% endif %}

    {% form_as_div form %}

    {% application_actions %}
</form>
{% endblock %}



