{% extends "forms.html" %}
{% load forms %}
{% load applications %}


{% block title %}Application{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;›
    Application
</div>
{% endblock %}


{% block content %}
<h1>Application Archived</h1>

<form method="post" action=".">{% csrf_token %}
    This application has now been archived. Please contact {{ help_email }} for help.

    {% application_actions %}
</form>
{% endblock %}



