{% extends "applications/application_detail_base.html" %}

{% block application_detail %}
 <table>
    <tr><td>Project</td><td><a href="{{ application.project.get_absolute_url }}">{{ application.project }}</a></td></tr>
    <tr><td>Needs cluster account:</td><td>{% yes_no_img application.needs_account %}</td></tr>
    <tr><td>Make leader:</td><td>{% yes_no_img application.make_leader %}</td></tr>
    </table>
<br />
{% if application.state == 'K' %}
<h1>Approval options:</h1>
<p><a href="{% url kg_userapplication_approve application.id %}" class="yeslink">&nbsp;Accept</a></p>
<p><a href="{% url kg_userapplication_decline application.id %}" class="nolink">&nbsp;Decline</a></p>
<br />
{% endif %}
<h1>{{ application.applicant }}'s Details</h1>
{% if application.applicant.user %}
<p>This person is an existing user. <a href="{{ application.applicant.get_absolute_url }} ">{{ application.applicant }}'s details</a></p>
{% else %}
   	<table>
   		<tr><td>Requested Username:</td><td>{{ application.applicant.username }}</td></tr>
   		<tr><td>First name:</td><td>{{ application.applicant.first_name }}</td></tr>
   		<tr><td>Last name:</td><td>{{ application.applicant.last_name }}</td></tr>
   		<tr><td>Email:</td><td>{{ application.applicant.email|urlize }}</td></tr>	
   		<tr><td>Institute:</td><td><a href="{{ application.applicant.institute.get_absolute_url }}">{{ application.applicant.institute }}</a></td></tr>		
   		{% if application.applicant.position %}<tr><td>Position:</td><td>{{ application.applicant.position }}</td></tr>{% endif %}
   		{% if application.applicant.telephone %}<tr><td>Phone:</td><td>{{ application.applicant.telephone }}</td></tr>{% endif %}
   		{% if application.applicant.mobile %}<tr><td>Mobile:</td><td>{{ application.applicant.mobile }}</td></tr>{% endif %}
   		{% if application.applicant.department %}<tr><td>Department:</td><td>{{ application.applicant.department }}</td></tr>{% endif %}
   		{% if application.applicant.supervisor %}<tr><td>Supervisor:</td><td>{{ application.applicant.supervisor }}</td></tr>{% endif %}
   		{% if application.applicant.fax %}<tr><td>Fax:</td><td>{{ application.applicant.fax }}</td></tr>{% endif %}	
	</table>
	{% if perms.applications.change_applicant %}
	<p><a href="{% url kg_applicant_edit application.applicant.id %}" class="changelink">Edit Applicant details</a></p>
	{% endif %}
{% endif %}
{% endblock %}


