{% extends "forms.html" %}
{% load forms %}
{% block title %}Applications{% endblock %}



{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› User Application

</div>{% endblock %}   

{% block content %}
{% if saml %}
<p>Hi {{ saml_user.first_name }}</p>
{% endif %}
{% if application.project %}
<p>{{ application.created_by }} has invited you to join the following {{ org_name }} project:</p>
<p>Project ID: {{ application.project.pid }}<br/>Title: {{ application.project.name }}</p>
{% else %}
<p>Please fill in the form below. You will be asked which project you would like to join on the next page.</p>
{% endif %}
<form method="post" action=".">{% csrf_token %}
<div>
{% if form.errors or form.non_field_errors or applicant_form.errors or applicant_form.non_field_errors %}
	<p class="errornote">Please correct the error(s) below.</p>
{% endif %}
{% if application.header_message %}{{ application.header_message|linebreaks }}{% endif %}
<fieldset class="module aligned ()">
{{ form.non_field_errors }}
{% if applicant_form.errors.email and saml %}{{ applicant_form.errors.email }}{% endif %}
<h2>Account Details</h2>
<p>This usename and password will be used for your computer account as well as access to this website.</p>
{% formfield applicant_form.username %}
{% formfield applicant_form.password1 %}
{% formfield applicant_form.password2 %}
{% if application.project %}
{% formfield form.needs_account %}
{% endif %}
{% formfield form.aup %}
</fieldset>
{% if not saml %}
<fieldset class="module aligned ()">
<h2>Personal Details</h2>
{% formfield applicant_form.email %}
{% formfield applicant_form.title %}
{% inlineformfield applicant_form.first_name applicant_form.last_name %}
{% inlineformfield applicant_form.institute applicant_form.department %}
{% inlineformfield applicant_form.telephone applicant_form.mobile %}
</fieldset>
{% endif %}
{% if form.captcha %}
<fieldset class="module aligned ()">
{% formfield form.captcha %}
</fieldset>
{% endif %}
</div>
<div class="submit-row">
		<input type="submit" value="Submit" class="default" />
	</div>
</form>
{% endblock %}
