{% extends "forms.html" %}

{% block title %}Applications{% endblock %}

{% block content_title %}User Application{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="">Users</a>
 &rsaquo; User Application
{% endblock %}   

{% block content %}
<p>{{ application.created_by }} has invited you to join the following {{ org_name }} project:</p>
<p>PID: {{ application.project.pid }}<br/>Title: {{ application.project.name }}</p>
<form method="post" action=".">{% csrf_token %}
<div>
{% load forms %}
{% if form.errors or form.non_field_errors %}
	<p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
<fieldset class="module aligned ()">
{{ form.non_field_errors }}
<h2>Account Details</h2>
{% formfield form.username %}
{% formfield form.password1 %}
{% formfield form.password2 %}
{% formfield form.needs_account %}
</fieldset>
<fieldset class="module aligned ()">
<h2>Personal Details</h2>
{% formfield form.email %}
{% inlineformfield form.title form.first_name form.last_name %}
{% inlineformfield form.institute form.department %}
{% inlineformfield form.telephone form.mobile %}

{% formfield form.aup %}
</fieldset>

</div>
<div class="submit-row">
		
		<input type="submit" value="Submit" class="default" />
	</div>
</form>
{% endblock %}
