{% extends "forms.html" %}

{% block content %}
    <h1>User already in system</h1>    
    <p>A user with this email address ({{ person.email }}) already exists in the system.</p>
      <table>
      <tr><td>Name:</td><td>{{ person }}</td></tr>
      <tr><td>Position:</td><td>{{ person.position|default:"" }}</td></tr>
      <tr><td>Department:</td><td>{{ person.department|default:"" }}</td></tr>
      <tr><td>Institute:</td><td><a href="{{ person.institute.get_absolute_url }}">{{ person.institute }}</a></td></tr>
	</table>
    
    <p>Do you want to add them directly to the project and send an email informing them.</p>
    <form method="post" action=".">{% csrf_token %}
    	{% for field in form %}{{ field.as_hidden }}
    	{% endfor %}
    <div>
    <input type="hidden" name="existing" value="yes" />
    <input type="submit" value="Yes, I'm sure" />
    </div>
    </form>
{% endblock %}