{% extends "forms.html" %}

{% block title %}Users{% endblock %}

{% block content_title %}{% if application %}Edit{% else %}Create{% endif %} User Application{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="">Users</a>
 &rsaquo; {% if application %}Edit{% else %}Create{% endif %} User Application
{% endblock %}   

{% block content %}
<form method="post" action=".">{% csrf_token %}
<div>
{% comment %}
{{ form.errors }}
{{ applicant_form.errors }}
{% endcomment %}
{% load forms %}
{% if form.errors or form.non_field_errors or applicant_form.errors or applicant_form.non_field_errors%}
	<p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
<fieldset class="module aligned ()">
{{ form.non_field_errors }}
<h2>Details</h2>
{% formfield applicant_form.email %}
{% formfield form.project %}
{% formfield form.make_leader %}
</fieldset>

</div>
<div class="submit-row">
		
		<input type="submit" value="Invite" class="default" />
	</div>
</form>
{% endblock %}
