{% extends "forms.html" %}

{% block title %}Applications{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms_custom.css"/>{% endblock %}
{% block content_title %}User Application{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; User Application
{% endblock %}   

{% block content %}
{% if application.project %}
<p>{{ application.created_by }} has invited you to join the following {{ org_name }} project:</p>
<p>PID: {{ application.project.pid }}<br/>Title: {{ application.project.name }}</p>
{% endif %}
<form method="post" action=".">{% csrf_token %}
<div>
{% load forms %}
{% if form.errors or form.non_field_errors or applicant_form.errors or applicant_form.non_field_errors %}
	<p class="errornote">Please correct the error(s) below.</p>
{% endif %}
{{ application.header_message|linebreaks }}
<fieldset class="module aligned ()">
{{ form.non_field_errors }}
<h2>Account Details</h2>
{% formfield applicant_form.username %}
{% formfield applicant_form.password1 %}
{% formfield applicant_form.password2 %}
{% if application.project %}
{% formfield form.needs_account %}
{% endif %}
</fieldset>
<fieldset class="module aligned ()">
<h2>Personal Details</h2>
{% formfield applicant_form.email %}
{% formfield applicant_form.title %}
{% inlineformfield applicant_form.first_name applicant_form.last_name %}
{% inlineformfield applicant_form.institute applicant_form.department %}
{% inlineformfield applicant_form.telephone applicant_form.mobile %}
{% formfield form.aup %}
</fieldset>

</div>
<div class="submit-row">
		<input type="submit" value="Submit" class="default" />
	</div>
</form>
{% endblock %}
