{% extends "main.html" %}

{% block title %}Bounced Email{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› <a href="../../">Users</a>
 › <a href="../">{{ person }}</a>
 › Bounced Email
</div>{% endblock %}   

{% block content %}<div id="content-main">
<p>Submitting this form will send an email to all the <b>active</b> project leaders below and also lock the account</p>
   	
   	{% gen_table person.project_set.all %} 	
   	
   	<form action="." method="post">{% csrf_token %}
    	<div>
<input name="post" type="hidden" value="yes"/>
<input type="submit" value="Yes, I'm sure"/>
</div>
</form>
</div>{% endblock %}
