{% extends "forms.html" %}

{% block style %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/forms_custom.css"/>{% endblock %}

{% block title %}Users{% endblock %}



{% block content %}
<form method="post" action=".">{% csrf_token %}
<div>
{% load forms %}
{% if form.errors  or form.non_field_errors %}
	<p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
<fieldset class="module aligned ()">
<h2>Personal Details</h2>
{{ form.non_field_errors }}
{% formfield form.title %}
{% inlineformfield form.first_name form.last_name %}
{% inlineformfield form.department form.position %}
{% formfield form.supervisor %}
{% formfield form.email %}
{% inlineformfield form.telephone form.mobile %}
{% formfield form.fax %}
{% formfield form.address %}
</fieldset>

</div>
<div class="submit-row">
		
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}
