{% extends "main.html" %}
{% load url from future %}


{% block title %}Group (Verbose){% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href="{% url 'kg_group_list' %}">Groups</a>&nbsp;›
    <a href="{% url 'kg_group_detail' group.name %}">{{ group }}</a>&nbsp;›
    Verbose
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    {% for name, details in group_details.iteritems %}
    <div class="module">
        <h2>Group details - {{name}}</h2>
        {% for a in details %}
        <h3>{{a.datastore}}</h3>
        <table>
            {% for i,j in a.iteritems %}
                <tr>
                    <td>{{ i }}</td><td>{{ j }}</td>
               </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
