<table cellspacing="0">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Members</th>
		</tr>
	</thead>   	
   <tbody>
   	{% for group in object_list %}
	   	<tr class="{% cycle row1,row2 %}">
	   		<td><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></td>
	   		<td>{{ group.description }}</td>
                        <td>{% for member in group.members.all %}
                            <a href="{{ member.get_absolute_url }}">{{ member }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                        </td>
	   	</tr>
	   {% endfor %}
   </tbody>  	
</table>
