{% extends "main.html" %}
{% load url from future %}
{% load comments %}
{% load machines %}
{% block title %}Users{% endblock %}



{% block extrahead %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}js/karaage.js"></script> 
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› <a href="../">Groups</a>
› {{ group }}
</div>{% endblock %}   

{% block content %}<div id="content-main">

<div class="module">
<h2>Details</h2>
<table>
<tr><td>Name:</td><td>{{ group.name }}</td></tr>
<tr><td>Description:</td><td>{{ group.description }}</td></tr>
</table>
</div>

<div class="module">
<h2>Members</h2>
<table cellspacing="0">
<thead>
<tr><th>Username</th></tr>
</thead>
<tbody>
{% for member in group.members.all %}
<tr class="row1">
    <td><a href="{{ member.get_absolute_url }}">{{ member.username }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="module">
<h2>Links</h2>
<table cellspacing="0">
<thead>
    <tr><th>Type</th><th>Link</th></tr>
</thead>
<tbody>
{% for software in group.softwarepackage_set.all %}
<tr class="row1">
<td>Software</td>
<td><a href="{{ software.get_absolute_url }}">{{ software }}</td></a>
</tr>
{% endfor %}
{% for institute in group.institute_set.all %}
<tr class="row1">
<td>Institute</td>
<td><a href="{{ institute.get_absolute_url }}">{{ institute }}</a></td>
</tr>
{% endfor %}
{% for project in group.project_set.all %}
<tr class="row1">
<td>Project</td>
<td><a href="{{ project.get_absolute_url }}">{{ project }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>


</div>

{% endblock %}

{% block object-tools %}
<div class="module object-tools">
<h2>Tasks</h2>
<ul>

        {% if perms.people.change_group %}
        <li class="changelink"><a href="{% url 'kg_group_edit' group.name %}">Edit details</a></li>
        {% endif %}
        {% if perms.people.delete_group %}
        <li class="deletelink"><a href="{% url 'admin_delete_group' group.name %}">Delete</a></li>
	{% endif %}
	<li><a href="{% url 'kg_grouplogs' group.id %}">Logs</a></li>
      </ul>
</div>{% endblock %}
