{% extends "main.html" %}
{% load url from future %}


{% block title %}Users{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› <a href="../../">Users</a>
    › <a href="../">{{ person }}</a> &nbsp;› Verbose
</div>{% endblock %}   


{% block content %}
<div id="content-main">

    <div class="module">
        <h2>Person {{ person }} details</h2>
        <table>
            {% for i,j in person_details.iteritems %}
                <tr>
                    <td>{{ i }}</td><td>{{ j }}</td>
               </tr>
            {% endfor %}
        </table>
    </div>

    {% for account in account_details %}
    <div class="module">
        <h2>Account details</h2>
        <table>
            {% for i,j in account.iteritems %}
                <tr>
                    <td>{{ i }}</td><td>{{ j }}</td>
               </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}
