<table cellspacing="0">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Active</th>
            <th>Last usage</th>
        </tr>
    </thead>
    <tbody>
        {% for person in object_list %}
        <tr>
            <td><a href="{{ person.get_absolute_url }}">{{ person.username }}</a></td>
            <td>{{ person.get_full_name }}</td>
            <td>{{ person.email|urlize }}</td>
            <td>
                {% if not person.is_active %}
                <span class="no">No</span>
                {% elif person.is_locked %}
                <span class="locked">Locked</span>
                {% else %}
                <span class="yes">Yes</span>
                {% endif %}
            </td>
            <td>{{ person.last_usage }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
