<table cellspacing="0">
	<thead>
		<tr>
			<th>Username</th>
			<th>Name</th>
			<th>Email</th>	
			<th>Active</th>
			<th>Last usage</th>
		</tr>
	</thead>   	
   <tbody>
   	{% for user in object_list %}
	   	<tr class="{% cycle row1,row2 %}">
	   		<td><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></td>
	   		<td>{{ user.get_full_name }}</td>
	   		<td>{{ user.email|urlize }}</td>
	   		<td>
	   		{% if not user.is_active %}
	   		<img src="{{ STATIC_URL }}admin/img/icon-no.gif" alt="inactive" />
	   		{% else %}
	   		{% if user.is_locked %}
	   		<img src="{{ STATIC_URL }}img/lock.png" alt="locked" />
	   		{% else %}
	   		<img src="{{ STATIC_URL }}admin/img/icon-yes.gif" alt="active" />
				{% endif %}
				{% endif %}		
	   		</td>
	   		<td>{{ user.last_usage }}</td>
	   	</tr>
	   {% endfor %}
   </tbody>  	
</table>
