{% extends "main.html" %}
{% load url from future %}


{% block title %}User{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;›
    <a href="{% url 'kg_user_list' %}">People</a>&nbsp;›
    <a href="{% url 'kg_person_detail' person.username %}">{{ person }}</a>&nbsp;›
    Verbose
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    {% for name, details in person_details.iteritems %}
    <div class="module">
        <h2>Person details - {{name}}</h2>
        {% for a in details %}
        <h3>{{a.datastore}}</h3>
        <table>
            {% for i,j in a.iteritems %}
                <tr>
                    <td>{{ i }}</td><td>{{ j }}</td>
               </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
    {% endfor %}

    {% for account in account_details %}
    {% for name, details in account.iteritems %}
    <div class="module">
        <h2>Account details - {{ name }}</h2>
        {% for a in details %}
        <h3>{{ a.datastore }}</h3>
        <table>
            {% for i,j in a.iteritems %}
                <tr>
                    <td>{{ i }}</td><td>{{ j }}</td>
               </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}
