{% extends "forms.html" %}


{% block title %}Delete person{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;›
    <a href="{% url 'kg_person_list' %}">People</a>&nbsp;›
    <a href="{% url 'kg_person_detail' user.username %}">{{ user }}</a>&nbsp;›
    Delete
</div>
{% endblock %}


{% block content %}
<h1>Are you sure?</h1>
<p>Are you sure you want to delete the person "{{ user }}"? </p>
<form method="post" action=".">{% csrf_token %}
<div>
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="Yes, I'm sure" />
</div>
</form>
{% endblock %}
