{% extends "forms.html" %}

{% block title %}Users{% endblock %}

{% block content_title %}{% if person %}Edit{% else %}Create{% endif %} User{% endblock %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url kg_user_list %}">Users</a>
 &rsaquo; {% if person %}Edit{% else %}Create{% endif %} User
{% endblock %}   

{% block content %}
<form method="post" action=".">{% csrf_token %}
<div>
{% load forms %}
{% if form.errors or form.non_field_errors %}
	<p class="errornote">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
<fieldset class="module aligned ()">
<h2>Personal Details</h2>
{% inlineformfield form.title form.first_name form.last_name %}
{% inlineformfield form.institute form.department %}
{% formfield form.position %}
{% formfield form.supervisor %}
{% formfield form.email %}
{% inlineformfield form.telephone form.mobile %}
{% formfield form.fax %}
{% formfield form.address %}
{% formfield form.country %}
{% formfield form.comment %}
{% formfield form.expires %}
{% formfield form.is_staff %}
{% formfield form.is_superuser %}
{% formfield form.is_systemuser %}
{% if not person %}
{% formfield form.username %}
{% formfield form.password1 %}
{% formfield form.password2 %}
{% endif %}
</fieldset>
{{ form.non_field_errors }}
{% if not person %}
<fieldset class="module aligned ()">
<h2>User Account details</h2>
{% formfield form.needs_account %}
{% formfield form.project %}
</fieldset>
{% endif %}

</div>
<div class="submit-row">
		
		<input type="submit" value="Save" class="default" />
	</div>
</form>
{% endblock %}
