{% extends "people/profile_base.html" %}

{% load forms %}{% load filters %}

{% block breadcrumbs %}{{ block.super }} &rsaquo; Profile {% endblock %}   

{% block profile_content %}
<h2>Personal Details</h2>

<table>
  <tr><td>Username:</td><td>{{ person.username }}</td></tr>
  <tr><td>Email:</td><td>{{ person.email|urlize }}</td></tr>
  <tr><td>Position:</td><td>{{ person.position|default:"" }}</td></tr>
  <tr><td>Department:</td><td>{{ person.department|default:"" }}</td></tr>
  <tr><td>Institute:</td><td>{{ person.institute }}</td></tr>
  {% if person.telephone %}<tr><td>Phone:</td><td>{{ person.telephone|default:"" }}</td></tr>{% endif %}
  {% if person.mobile %}<tr><td>Mobile:</td><td>{{ person.mobile|default:"" }}</td></tr>{% endif %}
  {% if person.fax %}<tr><td>Fax:</td><td>{{ person.fax }}</td></tr>{% endif %}
  {% if person.address %}<tr><td>Address:</td><td>{{ person.address|linebreaksbr|default:"" }}</td></tr>{% endif %}
  <tr><td colspan="2"><a href="edit/" class="changelink">Edit personal details</a></td></tr>
  
</table>

<h2>Tasks</h2>
<p><a href="{% url kg_choose_project_existing %}" class="addlink">Apply to join an existing project</a>

{% if person.is_delegate or person.is_active_delegate %}
<h2>Institute Stats</h2>
<p><a href="{% url kg_institute_users person.institute.id %}">{{ person.institute }} users</a> | 
  <a href="{% url kg_institute_projects person.institute.id %}">{{ person.institute }} projects</a></p>
{% endif %}

{% ifequal person person.institute.delegate %}
<h2>Delegate Tasks</h2>
<p>Active Delegate: <b>{{ person.institute.active_delegate }}</b></p>
<form method="post" action=".">{% csrf_token %}
  {% formfield form.active_delegate %}
  <input type="submit" value="Change" name="delegate-form" />
</form> 
{% endifequal %}

{% if project_requests %}
<h2 class="alert">Project Requests</h2>
<ul>
  {% for request in project_requests %}
  <li>
    {{ request.project.leader }} - {{ request.project.name|truncatewords:"8" }} |
    <a href="{% url user_project_request_detail request.id %}">Details</a> | 
    <a href="{% url user_approve_project request.id %}">
      <img src="{{ MEDIA_URL }}img/admin/icon-yes.gif" alt="Approve"/>&nbsp;Approve</a> |  
    <a href="{% url user_reject_project request.id %}">
      <img src="{{ MEDIA_URL }}img/admin/icon-no.gif" alt="Reject"/>&nbsp;Reject</a></li>
  {% endfor %}
</ul>
{% endif %}

<h2>Usage Summary (last 90 days)</h2>

<table>
  <thead>
    <tr>
      <th>Project ID</th>
      <th>CPU time</th>
      <th>No. of Jobs</th>
    </tr>
  </thead>
  <tbody>
    {% for u in usage_list|dictsortreversed:"cpu_hours" %}
    <tr class="{% cycle row1,row2 %}">
      {#<td><a href="{{ u.project.get_usage_url }}">{{ u.project.pid }}</a></td>#}
      <td>{{ u.project.pid }}</td>
      <td>{{ u.cpu_hours|timeformat }}</td>
      <td>{{ u.no_jobs }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
