{% extends "people/profile_base.html" %}

{% block profile_content %}

{% if leader_project_list %}
<h2>Projects I lead or manage</h2>
<table>
  <thead>
    <tr>
      <th>Project ID</th>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for p in leader_project_list %}
    <tr class="{% cycle row1,row2 %}">
      <td><a href="{{ p.get_absolute_url }}">{{ p.pid }}</a></td>
      <td>{{ p.name|truncatewords:"8" }}</td>
      <td>{{ p.start_date|date }}</td>
      <td>{{ p.end_date|date }}</td>
      <td><a href="{{ p.get_usage_url }}">Usage</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if project_list %}
<h2>Projects I am a member of</h2>
<table>
  <thead>
    <tr>
      <th>Project ID</th>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Default</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for ua in person.useraccount_set.all %}
    {% if ua.project_list and person.useraccount_set.count > 1 %}
    <tr>
		<td colspan="6">{{ ua.machine_category }}</td>    
    </tr>
    {% for p in ua.project_list %}
    <tr class="{% cycle row1,row2 %}">
      <td><a href="{{ p.get_absolute_url }}">{{ p.pid }}</a></td>
      <td>{{ p.name|truncatewords:"8" }}</td>
      <td>{{ p.start_date|date }}</td>
      <td>{{ p.end_date|date }}</td>
      <td>{% ifequal p ua.default_project %}
	    <img src="{{ STATIC_URL }}admin/img/icon-yes.gif" alt="1" />{% else %}
	    <a href="{% url kg_user_make_default ua.id,p.pid %}?next={% url kg_user_profile_projects %}">Make default</a>
		{% endifequal %}</td>
      <td><a href="{{ p.get_usage_url }}">Usage</a></td>
    </tr>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
