{% extends "people/profile_base.html" %}
{% load url from future %}
{% load forms %}{% load filters %}


{% block title %}Personal Details - My profile{% endblock %}
{% block profile_title %}Personal Details{% endblock %}


{% block profile_content %}
<div class="module">
    <h2>Personal</h2>

    <table>
        <tr><td>Username:</td><td>{{ person.username }}</td></tr>
        <tr><td>Email:</td><td>{{ person.email|urlize }}</td></tr>
        <tr><td>Position:</td><td>{{ person.position|default:"" }}</td></tr>
        <tr><td>Department:</td><td>{{ person.department|default:"" }}</td></tr>
        <tr>
            <td>Institutes:</td>
            <td>{{ person.institute }}<br/>
                {% for institute in person.institutes.all %}{{institute}}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% if person.telephone %}<tr><td>Phone:</td><td>{{ person.telephone|default:"" }}</td></tr>{% endif %}
        {% if person.mobile %}<tr><td>Mobile:</td><td>{{ person.mobile|default:"" }}</td></tr>{% endif %}
        {% if person.fax %}<tr><td>Fax:</td><td>{{ person.fax }}</td></tr>{% endif %}
        {% if person.address %}<tr><td>Address:</td><td>{{ person.address|linebreaksbr|default:"" }}</td></tr>{% endif %}
    </table>

    <div class="object-tools">
        <ul>
            {% if usage_list %}
            <li><a href="{% url 'kg_usage_job_list' %}?person={{ person.username }}">Display all jobs</a></li>
            {% endif %}
            <li><a href="{% url 'kg_profile_edit' %}" class="changelink">Edit personal details</a></li>
            <li><a href="{% url 'kg_profile_password' %}" class="changelink">Change password</a></li>
            <li><a href="{% url 'kg_application_new' %}" class="addlink">Apply for Project</a></li>
        </ul>
    </div>
</div>

{% if person.is_delegate %}
<div class="module">
    <h2>Institute Stats</h2>
    <p><a href="{% url 'kg_institute_users' person.institute.id %}">{{ person.institute }} users</a> |
    <a href="{% url 'kg_institute_projects' person.institute.id %}">{{ person.institute }} projects</a></p>
</div>
{% endif %}

{% if usage_list %}
<div class="module">
    <h2>Latest Usage</h2>
    <table cellspacing="0">
        <thead>
            <tr>
                <th>Project</th>
                <th>Machine</th>
                <th>date</th>
                <th>queue</th>
                <th>cpu usage</th>
                <th>mem</th>
                <th>vmem</th>
                <th>Time in Queue</th>
                <th>Estimated wall time</th>
                <th>Actual wall time</th>
            </tr>
        </thead>
        <tbody>
            {% for u in usage_list %}
            <tr>
                <td><a href="{{ u.project.get_absolute_url }}">{{ u.project.pid }}</a></td>
                {#<td><a href="{{ u.machine.get_absolute_url }}">{{ u.machine }}</a></td>#}
                <td>{{ u.machine }}</td>
                <td>{{ u.date }}</td>
                <td>{{ u.queue }}</td>
                <td class="right">{{ u.cpu_usage|timeformat }}</td>
                <td class="right">{{ u.mem|fileformat }}</td>
                <td class="right">{{ u.vmem|fileformat }}</td>
                <td class="right">{{ u.wait_time|timeformat }}</td>
                <td class="right">{{ u.est_wall_time|timeformat }}</td>
                <td class="right">{{ u.act_wall_time|timeformat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
