{% extends "people/profile_base.html" %}
{% load filters %}
{% load machines %}


{% block title %}Cluster Account - My profile{% endblock %}
{% block profile_title %}Cluster Account{% endblock %}


{% block profile_content %}
{% for account in accounts %}
<div class="module">
    <h2>{{ account.machine_category }} Account</h2>
    {% resolve account_attrs account.pk as attrs %}
    <table cellspacing="0">
        <thead>
            <tr>
                <th>Active</th>
                <th>Username</th>
                <th>Date Created</th>
                <th>Date Deleted</th>
                {% for attr in attrs %}
                    <th>{% render_account_attr account attr "title" %}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% if account.date_deleted %}
                    <img alt="Not Active" src="{{ STATIC_URL }}img/icon-no.gif" title="Not Active"/>
                    {% else %}
                    {% if account.is_locked %}
                    <img alt="locked" src="{{ STATIC_URL }}img/lock.png"/>
                    {% else %}
                    <img alt="Active" src="{{ STATIC_URL }}img/icon-yes.gif" title="Active"/>
                    {% endif %}
                    {% endif %}
                </td>
                <td>{{ account.username }}</td>
                <td>{{ account.date_created|date }}</td>
                <td>{{ account.date_deleted|date }}</td>
                {% for attr in attrs %}
                <td>
                    {% render_account_attr account attr "variable" %}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    {% for_each_app_include "account_detail_extra.html" %}

    {% is_for_each_app_include_empty "account_detail_tools.html" as is_empty %}
    {% if not is_empty %}
    <div class="object-tools">
        <ul>
            {% for_each_app_include "account_detail_tools.html" %}
        </ul>
    </div>
    {% endif %}

</div>
{% endfor %}
{% endblock %}
