{% extends "people/profile_base.html" %}
{% load url from future %}


{% block title %}Projects - My profile{% endblock %}
{% block profile_title %}Projects{% endblock %}


{% block profile_content %}
{% if leader_project_list %}
<div class="module">
    <h2>Projects I lead or manage</h2>
    <table>
        <thead>
            <tr>
                <th>Project ID</th>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for p in leader_project_list %}
            <tr>
                <td><a href="{{ p.get_absolute_url }}">{{ p.pid }}</a></td>
                <td>{{ p.name|truncatewords:"8" }}</td>
                <td>{{ p.start_date|date }}</td>
                <td>{{ p.end_date|date }}</td>
                <td>Usage: {% for pc in p.projectquota_set.all %}<a href="{% url 'kg_usage_project' pc.machine_category.pk p.pid %}">{{ pc.machine_category }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if project_list %}
<div class="module">
    <h2>Projects I am a member of</h2>
    <table>
        <thead>
            <tr>
                <th>Project ID</th>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Default</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ua in person.account_set.all %}
            <tr>
                <td colspan="6">{{ ua }}</td>
            </tr>
            {% for p in ua.project_list %}
            <tr>
                <td><a href="{{ p.get_absolute_url }}">{{ p.pid }}</a></td>
                <td>{{ p.name|truncatewords:"8" }}</td>
                <td>{{ p.start_date|date }}</td>
                <td>{{ p.end_date|date }}</td>
                <td>{% ifequal p ua.default_project %}
                    <img src="{{ STATIC_URL }}img/icon-yes.gif" alt="1" />{% else %}
                    <form action="{% url 'kg_account_set_default' ua.id p.pid %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Make Default"/></input>
                    </form>
                    {% endifequal %}
                </td>
                <td>
                    Usage:
                    {% for pc in p.projectquota_set.all %}
                    <a href="{% url 'kg_usage_project' pc.machine_category.pk p.pid %}">{{ pc.machine_category }}</a>
                    {% if not forloop.last %}, {% endif %}{% endfor %}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
