{% extends "main.html" %}
{% load url from future %}
{% load forms %}


{% block title %}My Profile{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{% url "index" %}'>Home</a>&nbsp;›
    <a href='{% url "kg_profile" %}'>Profile</a>&nbsp;›
    {% block profile_title %}My Profile{% endblock %}
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <h1>Welcome {{ person.get_short_name }}</h1>
    <p>
        <a href="{% url 'kg_profile_personal' %}">Personal</a> | 
        <a href="{% url 'kg_profile_accounts' %}">Accounts</a> | 
        <a href="{% url 'kg_profile_projects' %}">Projects</a> | 
        <a href="{% url 'kg_profile_institutes' %}">Institutes</a> | 
        <a href="{% url 'kg_profile_software' %}">Licensed Software</a> |
        <a href="{% url 'kg_profile_saml' %}">SAML</a>
    </p>
    {% block profile_content %}{% endblock %}
</div>
{% endblock %}
