{% load url from future %}
{% load comments %}
<table cellspacing="0">
    <thead>
        <tr>
        <th></th>
        <th>Username</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Institute</th>
        <th>Date Approved</th>
        <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        {% for person in object_list %}
        {% get_comment_count for people.person person.pk as comment_count %}

        <tr class="{% cycle row1,row2 %}">
            <td>
                {% if not person.is_active %}
                <img src="{{ STATIC_URL }}img/icon-no.gif" alt="inactive" />
                {% else %}
                {% if person.is_locked %}
                <img src="{{ STATIC_URL }}img/lock.png" alt="locked" />
                {% else %}
                <img src="{{ STATIC_URL }}img/icon-yes.gif" alt="active" />
                {% endif %}
                {% endif %}
            </td>
            <td><a href="{{ person.get_absolute_url }}">{{ person.username }}</a></td>
            <td>{{ person }}</a></td>
            <td>{{ person.telephone }}</td>
            <td><a href="{{ person.institute.get_absolute_url }}">{{ person.institute }}</a></td>
            <td>{{ person.date_approved }}</td>
            <td>
                <a href="{% url 'kg_person_comments' person.username %}">{{ comment_count }}</a>
                <a href="{% url 'kg_person_add_comment' person.username %}" class="addlink"></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
