{% extends "main.html" %}

{% block title %}Password Change{% endblock %}
{% block login_bar %}{% endblock %}

{% block extrahead %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/forms_custom.css"/>{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;› Change Password</div>{% endblock %} 

{% block content %}<div id="content-main"><p>{% if form.has_errors %}
</p><p class="error">Your username and password didn't match. Please try again.</p>
{% endif %}

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
<form action="." method="post">{% csrf_token %}
{% load forms %}
<div>
<fieldset class="module aligned ()">
{{ form.non_field_errors }}
{% formfield form.old %}
{% formfield form.new1 %}
{% formfield form.new2 %}
</fieldset>
</div>
<input type="submit" value="Change my password"/>
</form></div>{% endblock %}