{% extends "main.html" %}

{% block content %}

<h1>{{ person }}</h1>

<table>
   		<tr><td>Email:</td><td>{{ person.email|urlize }}</td></tr>
   		<tr><td>Position:</td><td>{{ person.position|default:"" }}</td></tr>
   		<tr><td>Institute:</td><td>{{ person.institute }}</td></tr>
   		{% if person.supervisor %}<tr><td>Supervisor:</td><td>{{ person.supervisor|default:"" }}</td></tr>{% endif %}
   		{% if person.telephone %}<tr><td>Phone:</td><td>{{ person.telephone|default:"" }}</td></tr>{% endif %}
   		{% if person.mobile %}<tr><td>Mobile:</td><td>{{ person.mobile|default:"" }}</td></tr>{% endif %}
   		{% if person.fax %}<tr><td>Fax:</td><td>{{ person.fax }}</td></tr>{% endif %}
   		{% if person.address %}<tr><td>Address:</td><td>{{ person.address|default:"" }}</td></tr>{% endif %}
   		{% if person.city %}<tr><td>City:</td><td>{{ person.city|default:"" }}</td></tr>{% endif %}
   		{% if person.state %}<tr><td>State:</td><td>{{ person.get_state_display|default:"" }}</td></tr>{% endif %}
   		{% if person.postcode %}<tr><td>Postcode:</td><td>{{ person.postcode|default:"" }}</td></tr>{% endif %}
   		{% if person.country %}<tr><td>Country:</td><td>{{ person.get_country_display|default:"" }}</td></tr>{% endif %}
   		
</table>

		
{% if person.leader.all %}
	<div class="module">
	<h2>Projects I lead</h2>
	{% gen_table person.leader.all %}
	</div>
	{% endif %}	
	
	
	{% for ua in person.useraccount_set.all %}
	<div class="module">
	<h2>{{ ua.machine_category }} Account</h2>
<h3>Account</h3>
		<table cellspacing="0">
	<thead>
		<tr>
			<th>Active</th>
			<th>Username</th>
			<th>Date Created</th>
			<th>Date Deleted</th>
		</tr>
	</thead>   	
   <tbody>
	   	<tr class="row1">
	   		<td>{% yes_no_img ua.date_deleted "reversed" %}</td>
	   		<td><a href="{{ ua.get_absolute_url }}">{{ ua.username }}</a></td>
	   		<td>{{ ua.date_created|date }}</td>
	   		<td>{{ ua.date_deleted|date|default:"" }}</td>
	   	</tr>
   </tbody>  	
</table>
{% if ua.project_list %}
<h3>Projects</h3>
		<table cellspacing="0">
		<thead>
		<tr>
			<th>Project</th>
			<th>Name</th>
			<th>Institute</th>
			<th>Leaders</th>
			<th>Default</th>
		</tr>
		</thead>   	
   	<tbody>
   	{% for p in ua.project_list %}
	   	<tr class="{% cycle row1,row2 %}">
	   		<td><a href="{{ p.get_absolute_url }}">{{ p.pid }}</a></td>
	   		<td>{{ p.name|truncatewords:"10" }}</td>
	   		<td>{{ p.institute }}</td>
	   		<td>{% for l in p.leaders.all %}<a href="{{ l.get_absolute_url }}">{{ l }}</a> {% endfor %}</td>
	   		<td>{% ifequal p ua.default_project %}
	   		<img src="{{ STATIC_URL }}admin/img/icon-yes.gif" alt="1" />{% else %}
	   		{% endifequal %}</td>
	   		
	   	</tr>
	   {% endfor %}
   	</tbody>  	
		</table>	
		{% endif %}
		{% if ua.get_latest_usage %}
		<h3>Latest Usage</h3>
			{% gen_table ua.get_latest_usage %}
		{% endif %}
	</div>
	{% endfor %}
{% endblock %}
