{% extends "main.html" %}


{% block title %}Password Change{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href='{{ base_url|default:"/" }}'>Home</a>&nbsp;›
    <a href='{% url "kg_user_profile" %}'>Profile</a>&nbsp;›
    Change Password
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    {% if form.has_errors %}
    <p class="error">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <p>Please enter your old password, for security's sake, and then enter your
    new password twice so we can verify you typed it in correctly.</p>

    <form action="." method="post">{% csrf_token %}
        {% load forms %}
        <div>
            <fieldset class="module aligned ()">
            {{ form.non_field_errors }}
            {% formfield form.old %}
            {% formfield form.new1 %}
            {% formfield form.new2 %}
            </fieldset>
        </div>
        <input type="submit" value="Change my password"/>
    </form>
</div>
{% endblock %}
