{% extends "forms.html" %}

{% block title %}Users{% endblock %}

{% block content_title %}Change Password{% endblock %}

{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url kg_user_list %}">Users</a>
 &rsaquo; <a href="{{ person.get_absolute_url }}">{{ person }}</a>
 &rsaquo; Change Password
{% endblock %}   

{% block content %}
{% if form.has_errors %}
<p class="error">Your username and password didn't match. Please try again.</p>
{% endif %}

<p>Enter the new password twice so we can verify you typed it in correctly.</p>

<form action="" method="post">
{% load forms %}
<div>
{{ form.non_field_errors }}
{% form_as_div form %}
</div>
<input type="submit" value="Change password" />

</form>
{% endblock %}
