name: Python application

on: [push, pull_request, merge_group]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test:
    name: Databaseless tests
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner != 'Karaage-Cluster' || github.event_name != 'pull_request' }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install system dependancies
        run: |
          sudo apt-get update
          sudo apt-get install libcrack2-dev
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.4.30"
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install the project
        run: uv sync --all-extras --dev --group docs
      - name: Run tests
        run: |
          uv run make -C docs/admin html
          uv run black --check karaage
          uv run flake8 karaage
          uv run ./manage.py makemigrations --settings=karaage.tests.settings --check --dry-run

  test-mysql:
    name: Mysql tests
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner != 'Karaage-Cluster' || github.event_name != 'pull_request' }}
    env:
        DATABASE_URL: mysql://root:z9Pm29jg9EfJ6m@127.0.0.1:3306/test

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: z9Pm29jg9EfJ6m
          MYSQL_DATABASE: test
          MYSQL_USER: test
          MYSQL_PASSWORD: z9Pm29jg9EfJ6m
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
        ports:
          - 3306:3306

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install system dependancies
        run: |
          sudo apt-get update
          sudo apt-get install libcrack2-dev slapd ldap-utils
      - name: Remove apparmor restrictions on slapd
        run: |
            sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.slapd || true
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.4.30"
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install the project
        run: uv sync --all-extras --dev
      - name: Run tests
        run: |
          uv run ./manage.py collectstatic --settings=karaage.tests.settings --noinput
          uv run ./manage.py migrate --settings=karaage.tests.settings
          mkdir test-reports
          uv run python -m tldap.test.slapd python -m pytest --cov=karaage --junitxml=test-reports/junit.xml
      - name: Upload pytest test results
        uses: actions/upload-artifact@v7
        with:
          name: pytest-results-mysql
          path: test-reports/junit.xml

  test-postgresql:
    name: Postgresql tests
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner != 'Karaage-Cluster' || github.event_name != 'pull_request' }}
    env:
        DATABASE_URL: postgresql://test:z9Pm29jg9EfJ6m@localhost:5432/test?sslmode=disable

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: z9Pm29jg9EfJ6m
          POSTGRES_DB: test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install system dependancies
        run: |
          sudo apt-get update
          sudo apt-get install libcrack2-dev slapd ldap-utils
      - name: Remove apparmor restrictions on slapd
        run: |
            sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.slapd || true
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.4.30"
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install the project
        run: uv sync --all-extras --dev
      - name: Run tests
        run: |
          uv run ./manage.py collectstatic --settings=karaage.tests.settings --noinput
          uv run ./manage.py migrate --settings=karaage.tests.settings
          mkdir test-reports
          uv run python -m tldap.test.slapd python -m pytest --cov=karaage --junitxml=test-reports/junit.xml
      - name: Upload pytest test results
        uses: actions/upload-artifact@v7
        with:
          name: pytest-results-postgresql
          path: test-reports/junit.xml

  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    needs: [test, test-mysql, test-postgresql]
    if: ${{ github.repository_owner != 'Karaage-Cluster' || github.event_name == 'push' }}

    steps:
      - name: downcase IMAGE_NAME
        run: |
          echo "IMAGE_NAME_LC=${IMAGE_NAME,,}" >>${GITHUB_ENV}
      - name: Checkout
        uses: actions/checkout@v6
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LC }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha, format=long
      - name: Docker meta
        id: brianmay_meta
        uses: brianmay/docker-meta@main
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Login to DockerHub
        uses: docker/login-action@v3.7.0
        if: ${{ github.repository_owner == 'Karaage-Cluster' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags')) && github.event_name == 'push' }}
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6.19.2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: ${{ github.repository_owner == 'Karaage-Cluster' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags')) && github.event_name == 'push' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME_LC }}:main
          cache-to: type=inline
          build-args: ${{ steps.brianmay_meta.outputs.build-args }}
